[2021-10-15 21:14] #4773 closed

[2021-10-15 21:17] roblourens commented on #4767
I get that it's annoying, but these extensions need to be installed on the remote next to your workspace files, and it's not right for us to auto-install a bunch of extensions on your remote.

[2021-10-15 21:18] roblourens commented on #4924
Need more details about what you are seeing. They may not be terminated immediately but after some time.

[2021-10-15 21:20] roblourens commented on #5075
I don't think it's right for the extension to create a temp directory that doesn't exist. To me that would indicate that something else went wrong.

[2021-10-15 21:20] #5075 closed

[2021-10-15 21:27] roblourens commented on #5057
Here are some things that can cause disconnections
- Extensions or other processes using lots of CPU or memory
- Very large workspaces that cause VS Code's filewatcher process to use lots of memory
- Anything that disrupts the network connection between the local and remote machines

[2021-10-15 21:42] roblourens commented on #5050
I don't really understand the problem. In your blog post it sounded like it worked? Long story short, if you can get `ssh yourhost` to work then you should be able to get vscode to work too.

[2021-10-15 21:43] roblourens commented on #5286
Sorry for the slow response. Does it help to run "Kill VS Code Server on Host" for that host?

[2021-10-15 21:49] roblourens commented on #5272
Yeah the ssh environment comes from the remote server, which is shared for all connections per user and spawns all extension host processes.

wouldn't recommend that

[2021-10-15 21:50] roblourens commented on #5497
How does that key work? I know that some just enter text like a keyboard device. What is the usual experience?

[2021-10-16 02:18] Darien114 opened #5729 "ssh tunnel/passthrough"
I have a two ssh servers setup

- one that allows remote connections from approved keys (the tunnel)
- the second is a webserver that only allows local ssh connections

I would like to establish this two step connection and be able to easily modify files from my webserver though the "explorer" in VS code.

[2021-10-16 04:35] Chuxel commented on #5696
//cc: @alexr00 @chrmarti

[2021-10-16 14:10] account-login commented on #3324
ssh back to client works.

[code]

[2021-10-17 02:13] GoingMyWay commented on #4994
It seems it cannot connect the remote on macOS M1. My localhost is macOS, remote machine Linux. Docker version on macOS M1: 20.10.8.

![image](https://user-images.githubusercontent.com/9346460/137607781-787fd7f6-8567-4f90-880a-c343a5b3bf43.png)

The following is the error log

[code]

[2021-10-17 04:03] SleeplessByte commented on #5630
I managed to run the fix file permissions script by extracting the scripts to my install location and unblocking them (as they're unsigned "remote" scripts).

The first time I ran it, it told me this:

[code]

The second time I ran it, it showed me this:

![image](https://user-images.githubusercontent.com/1964376/137610593-df525678-7ac6-4c96-a545-0f7e6915ac4e.png)

My VS Code started working again

[2021-10-17 04:03] #5630 closed

[2021-10-17 07:04] dave-holland opened #5730 "Support command-line pinentry for GPG"
Currently if the host doesn't have a graphical `pinentry`, signing with `gpg` in the container will lead to an error:

[code]
and `git commit -S` will give:
[code]

As mentioned by @chrmarti in https://github.com/microsoft/vscode-remote-release/issues/3168#issuecomment-654637826:

The same behavior is also mentioned in https://github.com/microsoft/vscode-remote-release/issues/5527.

---

It can be

[2021-10-18 02:32] #5427 closed

[2021-10-18 06:29] LiveFreeAndRoam opened #5731 "Terminals in Editor Area are Closed when Adding Folder to Workspace"
- VSCode Version: 1.61.1
- Local OS Version: Windows 10
- Remote OS Version: Linux SLES 15-SP2 and Ubuntu 20.04.2 LTS
- Remote Extension/Connection Type: SSH
- Logs: (See below)

Steps to Reproduce:

1. Connect to Host In New Window
2. Open a terminal, (View: Toggle Terminal) - this terminal is preserved
3. Create several New Terminals in Editor Area - these terminals will be lost
4. File > Add Fo

[2021-10-18 07:01] StefanBrand opened #5732 "VSCode cannot start Dev Container if lingering `docker-compose run` containers"
- Version: 1.61.1
- Commit: c13f1abb110fc756f9b3a6f16670df9cd9d4cf63
- Date: 2021-10-14T01:15:35.620Z
- Electron: 13.5.1
- Chrome: 91.0.4472.164
- Node.js: 14.16.0
- V8: 9.1.269.39-electron.0
- OS: Linux x64 5.11.0-37-generic snap

Steps to Reproduce:

1. Create a minimal `docker-compose.yml` [1] and `.devcontainer/devcontainer.json` [2] (or clone my test repo [StefanBrand/vscode-dc-test](https://

[2021-10-18 07:06] variantf opened #5733 "Remote SSH CPU spike to 100% and uses a lot of memory with large projects"
- VSCode Version:
Version: 1.61.1 (Universal)
Commit: c13f1abb110fc756f9b3a6f16670df9cd9d4cf63
Date: 2021-10-14T01:23:30.274Z (4 days ago)
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.4.0

- Local OS Version: Mac OS 11.3.1
- Remote OS Version: Linux Ubuntu 20.04.2
- Remote Extension/Connection Type: SSH
- Logs:

Steps to Reproduce:

I've no id

[2021-10-18 07:47] stefannebesnak commented on #5352
Disable **Kill switch** feature in case you are connected to **VPN** (e.g. Malwarebytes Privacy).

[2021-10-18 09:28] chrmarti commented on #5678
There is some delay between the password prompt and the list of containers to pick from (that needs to be picked again due to https://github.com/microsoft/vscode/issues/111238).

Does it work if you give it some time? If not, could you attach the log (`F1` > `Remote-Containers: Show Container Log`)?

[2021-10-18 09:33] #5692 closed

[2021-10-18 09:49] yoongkang commented on #5696
That would be correct, it binds to the container's local interface on `127.0.0.1`, and this has always been the behaviour IIRC (so nothing has changed recently).

The strange thing is using `python manage.py runserver 5000` would also bind to `127.0.0.1` but this forwards the port automatically. I'd expect 8000 to also work, as it's the only one where I've specifically exposed in docker-compose (a

[2021-10-18 10:26] chrmarti commented on #5697
Make sure both windows run the same version of VS Code (that implies the VS Code Server version and we terminate servers of a different version). If this still happens, could you append the log (`F1` > `Remote-Containers: Show Container Log`) from the second window that somehow terminated the session of the first?

[2021-10-18 10:54] chrmarti commented on #5730
https://www.gnupg.org/documentation/manuals/gnupg-devel/Invoking-GPG_002dAGENT.html mentions setting `GPG_TTY` when starting the gpg-agent. Have you tried that?

[2021-10-18 12:04] damienwebdev opened #5736 "Feat: allow devcontainers.json to reference an external project"
I come from the Magento ecosystem (PHP E-commerce) where Magento deployments are unique per merchant, but share a core configuration for local development.

Configurations include things like:

1. Search using Elasticsearch vs. MySQL.
2. Using Mailhog/Mailtrap as a mail collector
3. Variable PHP Versions

As a part of that ecosystem, I maintain [Mage2Docker](https://github.com/graycoreio/mage2dock

[2021-10-18 12:26] theUpsider commented on #5678
It actually does work after a couple of seconds. The log shows the first attempt where I waited until it popped up and the second attempt at 77346 ms where I pressed it again.
The difference is that during the first time the popup menu which informs the user that the containers are being browsed, doesn't show up. This leads to the misconception that it doesn't work (immediately).

[44626 ms] Remot

[2021-10-18 13:05] chrmarti commented on #5688
@Tyriar We don't create the terminal until the user asks for the 'Container Log' to avoid having it show up in the UI. So we don't have the correct dimensions before that. Is there a way to create the terminal without making it visible in the UI?

[2021-10-18 14:04] chrmarti commented on #4771
Thanks @baruchiro for the link. Closing as this is now available.

[2021-10-18 15:11] think120 opened #5735 "vscode remote leave extension file in /tmp"
- VSCode Version: 1.61
- Local OS Version: Win 10 64Bit 19041
- Remote OS Version: Red Hat Enterprise Linux release 8.4 (Ootpa)
- Remote Extension/Connection Type: SSH
- Logs:

Steps to Reproduce:

Choose any  extension, install an early version via "Install Another Version..." and will see the following type of file in /tmp:
![image](https://user-images.githubusercontent.com/78618719/137758890-74

[2021-10-18 15:29] damienwebdev commented on #5736
@Chuxel yes, both of those would meet my goals. Closing as duplicate.

[2021-10-18 15:29] #5736 closed, assigned to nobody

[2021-10-18 15:36] Chuxel commented on #5696
@chrmarti Yeah worth clarifying if the forwarding is not happening or its just on a different port.

@yoongkang If you look at the ports view, it likely specifies a different port was used in auto-forwarding re-reading your steps.

The `forwardPorts` property in devcontainer.json can be used to forward a port which works if the application binds to localhost - but docker-compose.yaml "publishes" a

[2021-10-18 16:18] tanhakabir commented on #5621
Sorry about the slow response! It sounds like you've figured out how to fix it for yourself? Sorry about the message, we generally take error messages provided to us by either your local machine or your remote machine and relay those back to you.

[2021-10-18 16:26] tanhakabir commented on #5656
Does your local machine have internet?

[2021-10-18 16:40] tanhakabir commented on #5713
Oh sorry about the slow reply! Hmm from your logs it looks like a vscode-server issue on your remote machine. Could you try deleting the `.vscode-server` on your remote machine and try connecting again through the extension?

[2021-10-18 16:51] #5253 closed

[2021-10-18 16:56] tanhakabir commented on #5398
Closing this issue for now due to inactivity! @Chao86 please let us know if you're still facing this issue

[2021-10-18 16:56] #5398 closed

[2021-10-18 16:57] tanhakabir commented on #5411
Closing this issue for now due to inactivity! @chandu999 please let us know if you're still seeing this problem

[2021-10-18 16:57] #5411 closed

[2021-10-18 17:01] #5519 closed, assigned to nobody

[2021-10-18 17:03] tanhakabir commented on #5558
Closing this issue for now due to inactivity! @lustremedia please let us know if the linked issue doesn't provide a fix for you!

[2021-10-18 17:03] #5558 closed

[2021-10-18 17:09] tanhakabir commented on #5733
We've seen issues in the past with large workspaces: https://github.com/microsoft/vscode-remote-release/issues/1257. I'm thinking there's some correlation of this issue with that one

[2021-10-18 18:14] #5707 closed

[2021-10-18 18:23] JacksonKearl opened #5737 "Needs more info issues not being closed"
For some reson hte querys used by the needs more info bot always are turning up empty, so no issues are getting closed.

cc @tanhakabir

[2021-10-18 18:47] mhazhary opened #5738 "Permission problem in /root directory inside container when using Podman"
- VSCode Version: 1.61.1
- Local OS Version: Fedora 34
- Remote OS Version: Node.js Development Container (16-bullseye)
- Remote Extension/Connection Type: Container (with Podman 3.4.0)
- Logs: _attached below_

Steps to Reproduce:

1. Add development container configuration files (mine is Node.js 16-bullseye, but it also affects xx-buster)
2. Open VS Code in container

My workarounds is changing

[2021-10-18 19:19] #5716 closed, assigned to chrmarti

[2021-10-18 19:49] roblourens commented on #5493
If you have any remote extensions installed, you can try disabling them to see whether that helps. If not, try to figure out which process exactly is using high CPU

[2021-10-18 19:57] roblourens commented on #5497
Will have to do some research to figure out how we can get the key, but as a workaround, it would probably work for you to set `"remote.SSH.showLoginTerminal": true`. It should reveal the terminal, and you can log in through that terminal instead of our prompt.

[2021-10-18 20:44] roblourens commented on #5654
You can right click a forwarded port entry to change the lcoal port.

[2021-10-18 20:44] #5654 closed

[2021-10-18 21:04] roblourens commented on #5562
If you feel like looking at this @tanhakabir, it would be a bug in the ssh config parsing library we use https://github.com/cyjake/ssh-config

[2021-10-18 21:17] vanderhoff opened #5740 "AWS SSM process tried to write to nonexistent pipe"
using vscode ssh connection an error is returned, **process tried to write to nonexistent pipe**
Running the same command from powershell or cmd the pipe works as expected

- VSCode Version:
             Version: 1.61.0 (user setup)
             Commit: ee8c7def80afc00dd6e593ef12f37756d8f504ea
             Date: 2021-10-07T18:13:09.652Z
             Electron: 13.5.1
            Chrome: 91.0.4472.1

[2021-10-18 21:21] vanderhoff commented on #5640
I have opened the same bug report but with more log output as requested. #5740

[2021-10-18 21:28] #5363 closed

[2021-10-18 21:29] #5326 closed

[2021-10-18 21:33] roblourens commented on #5429
Sorry, I don't understand what problem I am supposed to see in the screenshots. Can reopen if there is an issue here.

[2021-10-18 21:46] tanhakabir commented on #5640
I'll close this issue as it's linked from the new one you've already created!

[2021-10-18 21:46] #5640 closed

[2021-10-18 21:58] #5525 closed

[2021-10-18 21:59] roblourens commented on #5164
This is just ssh telling us that your password is wrong. Make sure the user and everything else with your ssh config is correct.

[2021-10-18 21:59] #5164 closed

[2021-10-18 22:47] #5722 closed, assigned to nobody

[2021-10-18 22:49] roblourens commented on #5311
Sorry for the slow response. Thanks for the detailed report. There is something that confuses me though.

Do you mean "logging in as "demouser"? If you mean "user1", why should I be able to edit the file at this point?

If your request is to edit files as a different user, we have this issue tracking that request: https://github.com/microsoft/vscode-remote-release/issues/690

[2021-10-18 22:52] #4980 closed

[2021-10-18 23:02] #5586 closed, assigned to nobody

[2021-10-18 23:05] roblourens commented on #5290
If this is still happening, could you share the log from the Remote-SSH output  channel?

[2021-10-18 23:08] roblourens commented on #5465
We connect running `bash` on your remote, so `~/.bashrc` will be sourced. You can change that to source your zsh profile.

[2021-10-18 23:08] #5465 closed

[2021-10-18 23:09] roblourens commented on #5631
Sorry that you had this experience. This isn't enough information to repro or act on.

Can you find the full command line of the actual processes, like using `ps`?

Do you have any remote extensions installed? Does this happen if you disable them?

[2021-10-18 23:09] #5522 closed, assigned to nobody

[2021-10-18 23:12] sbatten commented on #5637
@adumas is the enter keystroking dismissing the dialog? or just adding characters to the file underneath without dismissing the dialog?

[2021-10-18 23:14] roblourens commented on #5112
Good clue. Does that mean that the extension is failing to open that file? I may have to send you back to the extension's repo then.

[2021-10-18 23:17] #5689 closed

[2021-10-18 23:18] #5729 closed, assigned to nobody

[2021-10-18 23:19] roblourens commented on #5733
Please share the full command line of that project. Do you have any remote extensions installed? Does it help if you disable them?

[2021-10-18 23:26] roblourens commented on #5603
Sorry for the slow response. Missed the email.

I don't really understand why the previous one works - it produced the same errors. I used to ignore tar errors but that was a long time ago... There are hundreds of errors of the same pattern that I see above

you need to look at what user you are using to connect with ssh and what permissions it has on this remote system.

[2021-10-18 23:36] roblourens commented on #4503
Is this still an issue? We are trying to open a port, is there some reason you wouldn't have permission to do that? `listen EACCES: permission denied 127.0.0.1`

[2021-10-18 23:41] jmbldwn commented on #4547
It's been a few months, but Ideally I wanted to do it with a launch config.

[2021-10-18 23:44] roblourens commented on #5464
We sent a script for your remote to execute, and it seems that it never starting executing.

Does running a command like `echo "echo hello" | ssh yourhost bash` work?

[2021-10-18 23:53] roblourens commented on #5471
Using an ssh config is correct. We disallow some characters in the username (when connecting to user@host directly) and the host because we have to construct a command for the terminal, and it is too hard to sanitize a bash command with those characters. So your second ssh config without the backslash in the host should work. If it doesn't, share the log from the Remote-SSH output channel, that sh

[2021-10-18 23:54] #5399 closed

[2021-10-18 23:55] #5623 closed, assigned to nobody

[2021-10-18 23:56] #5621 closed

[2021-10-18 23:59] roblourens commented on #5700
The ssh command exited, but it isn't clear why. Does running a command like `echo "echo hello" | ssh yourhost bash` work?

Alternately, do you get a different result if you set `"remote.SSH.useLocalServer": true` in your settings json

[2021-10-19 00:02] roblourens commented on #5488
Is it possible that tcp port forwarding is not allowed on your ssh server? There is an option for this in the ssh server config.

[2021-10-19 00:04] #5459 closed

[2021-10-19 00:08] roblourens commented on #5439
I expected the install script to be sh-compatible - need to review that

[2021-10-19 00:15] roblourens commented on #5439
Working in 0.49 implies that setting `"remote.SSH.useLocalServer": false` might fix it

[2021-10-19 01:21] roblourens commented on #5279
I have no clue why that would impact us. I don't know anything about the types of NICs that you describe. But the problem you're describing is generally due to extensions hogging the extension host process and making the client think it stopped responding. We are tracking issues like that in https://github.com/microsoft/vscode/issues/135021

Do you have any remote extensions installed? Does it hel

[2021-10-19 01:25] roblourens commented on #5193
That won't change the folder that the vscode window opens

[2021-10-19 01:26] roblourens commented on #5166
I can't repro. If you see it again, check for errors in the window devtools (Help > Toggle Developer Tools) or the Remote-SSH output channel

[2021-10-19 01:32] roblourens commented on #5211
Extensions working on large files can cause these disconnections, tracking those issues here https://github.com/microsoft/vscode/issues/135021

[2021-10-19 01:32] #5211 closed

[2021-10-19 01:35] roblourens commented on #5099
https://github.com/microsoft/vscode-remote-release/issues/5439

[2021-10-19 01:35] #5099 closed

[2021-10-19 01:41] roblourens commented on #5039
Looks like the extension host is crashing. Is this still an issue/

[2021-10-19 01:42] roblourens commented on #4796
Is this still an issue?

Looks like `Invalid second message` comes from us

[2021-10-19 01:44] roblourens commented on #4769
This is not true. Also to use a custom port you must use the Port directive in your ssh config

[2021-10-19 01:44] #4769 closed

[2021-10-19 01:49] #4529 closed

[2021-10-19 01:51] #4448 closed

[2021-10-19 01:51] #5464 closed

[2021-10-19 02:25] Jerry-Ma commented on #4474
Hi,

I was looking into the same functionality as described by xvr-hit.

The HPC that I am working on requires users to run extended jobs on a compute node using the SLURM.

I am looking forward to seeing this feature implemented. Thanks a lot!

[2021-10-19 02:36] git-zjx commented on #5734
I tried it and the result was the same
![image](https://user-images.githubusercontent.com/24617415/137834319-2f87c2e3-a829-444b-b077-fc6140566ded.png)

[2021-10-19 04:09] Maxim-Mazurok opened #5741 "[wsl] not picking up WSLENV"
- VSCode Version: 1.61.1
- Local OS Version: Windows 11 22000.258
- Remote OS Version: Ubuntu 20.04.3 LTS
- Remote Extension/Connection Type: WSL
- Logs: N/A

Steps to Reproduce:

1. Set `MY_ENV=something` and `WSLENV=MY_ENV` ([learn more about WSLENV](https://devblogs.microsoft.com/commandline/share-environment-vars-between-wsl-and-windows/))
1. Open VS Code on Windows
1. Click "Open a Remote Win

[2021-10-19 06:42] ilyalesokhin-starkware commented on #5697
The new vscode Container logs:

The logs on the disconnected vscode:

[2021-10-19 06:52] #5608 closed

[2021-10-19 06:52] #5573 closed

[2021-10-19 06:52] #5430 closed

[2021-10-19 06:52] #5337 closed

[2021-10-19 06:52] #5283 closed

[2021-10-19 06:53] #5223 closed

[2021-10-19 06:53] #5161 closed

[2021-10-19 06:53] #5153 closed

[2021-10-19 07:27] TechNyquist commented on #5112
No, rather it means that the extension asks for what file contains a symbol definition and VS API responds "None".

[2021-10-19 07:28] chrmarti commented on #5678
Thanks. I will shorten the delay between the two. Ideally there would be none, but these two inputs are controlled by different parts of the underlying implementation, making it difficult to remove the delay completely.

[2021-10-19 07:53] chrmarti commented on #5527
Ok, let's continue our discussion there. I'm closing this issue as I haven't heard back from @jrcasso. Thanks.

[2021-10-19 08:52] chrmarti commented on #5727
Duplicate of https://github.com/microsoft/vscode-remote-release/issues/986, continuing there.

[2021-10-19 08:52] #5727 closed, assigned to chrmarti

[2021-10-19 08:55] woter1832 commented on #5311
@roblourens,

Apologies, but it's a while since I logged this and I can't really remember the full details and I expect the test VM has been deleted, however, reading what I wrote, the gist of it is that using VSCode's SSH remoting extension, any ACL permissions, except for something like 664 is not honoured. Where one should be able to access a file because of group membership is not the case.

I

[2021-10-19 09:33] vanderhoff commented on #5740
Hi @roblourens thanks for the prompt follow up

new steps
1) upgrade to OpenSSH_for_Windows_8.6p1
https://github.com/PowerShell/Win32-OpenSSH/releases/tag/V8.6.0.0p1-Beta

2) confirm setting `"remote.SSH.useLocalServer": true`

3) run with echo
`echo "echo hello" | ssh -T -D 62483 -F "C:\Users\myuser.ssh\config" "i-09b749f52649f1234" bash`
3.1) on powershell returns only "hello"
3.2) on cmd return

[2021-10-19 10:14] AndroidBeta opened #5782 "Add a delete button for folder history in SSH explorer"
Issue Type: <b>Feature Request</b>

FYI

VS Code version: Code 1.61.1 (Universal) (c13f1abb110fc756f9b3a6f16670df9cd9d4cf63, 2021-10-14T01:23:30.274Z)
OS version: Darwin x64 16.7.0
Restricted Mode: No
Remote OS version: Linux x64 4.15.0-159-generic

[2021-10-19 11:06] chrmarti commented on #5181
Sounds like we are done here, closing the issue.

[2021-10-19 11:15] chrmarti commented on #5046
I guess one ambiguity here is that 'Folder' in 'Open Folder in Container' doesn't say if it is a local folder (which it is) or some folder in a container. We could clarify by making it 'Open Local Folder in Container'.

[2021-10-19 11:27] aeschli commented on #5734
Maybe the final double quote was missing?

[2021-10-19 12:33] allinws opened #5743 "Python extension not loading, even if it's installed"
Cannot activate the 'Python Test Explorer for Visual Studio Code' extension because it depends on the 'Python' extension, which is not loaded. Would you like to reload the window to load the extension?

vscode version 1.55.2

[2021-10-19 13:08] aeschli commented on #5734
Strange. Can you tell me what this translates to?
![image](https://user-images.githubusercontent.com/6461412/137915801-0143b560-b517-4881-bc83-711aea7787d2.png)

[2021-10-19 13:23] deepak1556 commented on #5306
Yeah Electron plans to support it till chrome marks it EOL which is currently set for January, 2022.

[2021-10-19 14:15] fatevase opened #5744 "cannot use ssh after disable cmd.exe"
### issues :
change the vscode default terminal does not change the path of the extension.

when I forbid cmd.exe and i changed the default terminal of vscode(using powershell), then running the `Remote-SSH`, it still using cmd.exe terminal. i cant change terminal shell path for ssh esxtension independently.

- VSCode Version:1.61.1
- Local OS Version:window11
- Remote OS Version:ubuntu16.04
- Rem

[2021-10-19 14:38] #5691 closed, assigned to alexdima, aeschli

[2021-10-19 15:07] #5111 closed

[2021-10-19 16:08] ilyalesokhin-starkware commented on #5697
Sorry, I was under the impression that the log continues to grow forever.
but it seems to be quiet down if I don't open any document.

here is the log:

[2021-10-19 16:42] AndrewHannigan opened #5745 "Python extension specified in devcontainer.json not being installed properly"
I've specified in my devcontainer.json that I want ms-python.python extension installed, but when I open the project in the remote container the extension is not installed.  When I install it manually after connecting to the remote container, it installs just fine.

In the remoteagent.log I see the following error message:
[code]

- VSCode Version: 1.61.1
- Local OS Version: Windows 10 Enterprise

[2021-10-19 21:37] bpasham commented on #2538
Quick workaround is provided [here on Stackoverflow](https://stackoverflow.com/questions/69573446/vscode-remote-ssh-does-not-work-with-ssh-using-azure-ad-authentication?noredirect=1#comment123083668_69573446). If anyone is interested

[2021-10-19 21:55] vanderhoff commented on #5740
for those that don't mind a tactical solution.
After a LOT of searching I did not find this spelt out anywhere, so posting here in case it is of value to others using win10.

in powershell start a proxy session
`aws --region <region> ssm start-session --target i-09b749f52649f1234 --document-name AWS-StartPortForwardingSession --parameters '{\"portNumber\":[\"22\"], \"localPortNumber\":[\"62300\"]}

[2021-10-19 22:22] roblourens commented on #5740
We need to set some extra options, and the config file is because you have set the config file in your settings. I assume that path is correct.

Sorry, yes on cmd that command would be `echo echo hello | ssh ...` (no quotes). It worked on powershell, seems like everything should be working...

I am seeing the same error show up in some other questions where ProxyCommand is involved https://github.

[2021-10-19 22:26] Oliver-Sellwood commented on #5046
Here is a rough set of steps to repro

1. Create a container `docker run --rm -it python:3.8 bash`
2. Open code, navigate to containers screen and find the container just launched
3. the only option for this container is `Attach to Container`, clicking this opens in a new window
4. Close all code instances and start a new one (that isn't connected to the container)
5. Go back to the Containers scr

[2021-10-19 22:28] roblourens commented on #5336
Can you get the same failure if you run something like `echo "echo hello" | ssh -T yourhost`?

[2021-10-19 22:53] roblourens commented on #5473
We should do this with normal ssh configs, closing as dupe of #5449

[2021-10-19 22:53] #5473 closed

[2021-10-19 22:55] roblourens commented on #4592
I think it shouldn't go exactly at the top - it should go before the first Host/Match directive, and after any Include directives at the top of the file. See https://github.com/microsoft/vscode-remote-release/issues/4339#issuecomment-789418848 also

[2021-10-19 23:11] roblourens commented on #4592
I agree with your examples. I don't think we should do a setting yet. It seems like the ordering is more complicated than I originally realized, and your example is the only "safe" way to do it.

[2021-10-19 23:24] #5371 closed

[2021-10-19 23:26] roblourens commented on #5112
Not a language server expert but isn't it VS Code sending a `textDocument/definition` to the extension and the extension replying none?

[2021-10-19 23:55] #5698 closed, assigned to roblourens, tanhakabir

[2021-10-20 00:04] #5708 closed, assigned to roblourens

[2021-10-20 01:50] git-zjx commented on #5734
The remote host was forced to close an existing connection

[2021-10-20 06:26] #5730 closed

[2021-10-20 07:15] TechNyquist commented on #5112
Neither I. I'll forward this question to the extension author. That's quite critical to know what to blame.

[2021-10-20 10:29] eps1lon commented on #5336
[code]

I don't know what this means but it sounds like there's an issue on my side/CircleCIs side that should be adressed first?

[2021-10-20 12:32] #5685 closed

[2021-10-20 20:02] Alexbh911 commented on #5700
I got a new error after adding the server key when connecting with the ssh command

[15:57:55.556] Log Level: 2
[15:57:55.561] remote-ssh@0.65.8
[15:57:55.561] win32 x64
[15:57:55.562] SSH Resolver called for "ssh-remote+'ServerAddress'", attempt 1
[15:57:55.562] "remote.SSH.useLocalServer": true
[15:57:55.563] "remote.SSH.path": undefined
[15:57:55.563] "remote.SSH.configFile": undefined
[15:57:5

[2021-10-20 20:37] #5702 closed

[2021-10-20 21:03] roblourens commented on #5336
I think so - I have an incomplete understanding of exactly how that flag behaves in every situation, but I think it is correct here and should work. I don't want to do something like add a setting to disable it unless I know that there is a good reason for it.

[2021-10-20 21:03] #5336 closed

[2021-10-20 21:11] #4726 closed

[2021-10-20 21:12] roblourens commented on #5493
You might be able to get some info from the builtin process explorer (Help > Process Explorer) or run ps in an external terminal

[2021-10-20 21:15] roblourens commented on #5700
Ah, I'm sure that this is due to the permission restrictions on your system. If you can't open a terminal, this isn't going to work, sorry. The other logs just show that ssh is failing to spawn a process. Talk to your sysadmin and see if they can help.

[2021-10-20 21:15] #5700 closed

[2021-10-21 01:10] elttaes commented on #5659
Hi, thanks for reply!
This machien is an GPU server, many people need to use it, so everybody have his own virtual ubuntu which installed in the docker. Everyone only have an physics machine port maybe 7000-10000,which mapping to his virtual ubuntu's 22 port. And everyone only have his virtual ubuntu's account/password and the physics machine port in order to using the GPU and the system envirment

[2021-10-21 07:20] #5743 closed, assigned to nobody

[2021-10-21 07:21] sandy081 commented on #5665
Please provide the remote server logs if you are able to reproduce it again.

[2021-10-21 11:02] pclausen opened #5748 "additionalSOLibSearchPath does not work for remote debugging"
- VSCode Version:
Version: 1.61.0 (user setup)
Commit: ee8c7def80afc00dd6e593ef12f37756d8f504ea
Date: 2021-10-07T18:13:09.652Z
Electron: 13.5.1
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042
- Local OS Version:
OS: Windows_NT x64 10.0.19042
- Remote OS Version:
LSB Version:    :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-a

[2021-10-21 11:15] #5735 closed

[2021-10-21 11:17] sandy081 commented on #5478
You can set the setting `remote.downloadExtensionsLocally` to `true` for extensions to be downloaded locally and install in remote server.

[2021-10-21 12:36] #5252 closed

[2021-10-21 12:40] #1270 closed

[2021-10-21 12:40] #1284 closed

[2021-10-21 12:40] #1984 closed

[2021-10-21 12:40] #2236 closed

[2021-10-21 12:40] #1826 closed

[2021-10-21 13:07] tnhlng opened #5749 "Failed to parse remote port from server output"
when I try to connect remote machine,I got  error below:

[code]

**the background is that I need input a number to choose the enviroment version to login in remote machine . but it seems that vscode-remote ignored these massage, so I can't give effective response, Is there any solution to this situation？**

My configuration is as follows 。

Host remoteserver
	HostName xxx.xx.214.24
	User abc

[2021-10-21 14:17] chrmarti commented on #3841
I think this would be possible with reverse tunnels, marking as duplicate: https://github.com/microsoft/vscode/issues/100222

[2021-10-21 14:17] #3841 closed

[2021-10-21 14:22] #3238 closed

[2021-10-21 14:25] #3179 closed

[2021-10-21 14:29] #5731 closed, assigned to Tyriar, meganrogge

[2021-10-21 14:34] #2882 closed

[2021-10-21 14:42] jimpowelldev opened #5750 "Support vscode.dev (Web Extension)"
Honestly not sure if using SSH in the browser is a possibility, but allowing Remote - SSH to run in the browser would be a game changer. If you're already running on a remote development environment, this would allow you have a fully cloud-based dev stack with nothing to install/maintain, etc.

[2021-10-21 14:44] Tyriar commented on #630
/duplicate

This is possible now although there is currently a bug being tracked for remote: https://github.com/microsoft/vscode/issues/133741

[2021-10-21 14:44] #630 closed

[2021-10-21 14:44] #1154 closed

[2021-10-21 14:55] Tyriar commented on #5688
@chrmarti the terminal panel doesn't know its own dimensions until the terminal is shown for the first time, the only way to get the terminal ptys sized right is to show the terminal panel. This is as designed imo

[2021-10-21 15:00] pluma commented on #3839
I could also imagine VSCode's auto-update having a notification like "A new version of VSCode has been downloaded in the background. VSCode will be updated the next time you exit the application" with a button for preventing that. Or at least a flag to prevent the auto-update while offline.

[2021-10-21 15:35] EricDiGi commented on #5631
This also occurred to many of my classmates who were using the same
extension for the same purpose.
On the server, user instances cannot run into one-another's services, so it
was NOT the case that one student launched a fork that interrupted other
students.

On Thu, Oct 21, 2021 at 10:32 AM Eric DiGioacchino ***@***.***>
wrote:

[2021-10-21 16:03] legndery commented on #5328
You are absolutely right. The culprit was my kaspersky antivirus. Disabled it and created a new session and extensions folder got created.

[2021-10-21 22:52] mhazhary commented on #4443
Come from #5738, and use @tepene solutions. I confirm that didn't work for me. I can't even do `ls`, even `sudo ls` in the project directory.
For a note, I use node development container (16-bullseye) from Microsoft.

[2021-10-22 02:18] tnhlng commented on #5749
yes，actually I connect  my remote machine through xshell7 most of time ,it works well.  but I want to login in remote machine through vscode-remote so that i can write and compile code as local。

I do found some similar issue like "Support Duo 2fa prompt #2170" and set configure as below :
[code]
but it never pop out any terminal but Error prompt box after i enter passphrase for key.

[2021-10-22 02:53] fatevase commented on #5744
it not common thing to do...
I found this issues when the system suddenly failed to call the cmd.exe terminal
I just found out that this extension will not follow the custom terminal of vscode.

[2021-10-22 09:15] #234 closed, assigned to nobody

[2021-10-22 10:41] alesageProovStation opened #5752 "Cannot attach to more than one container on same remote, websocket error 1006"
Issue Type: <b>Bug</b>

First, connect to a remote SSH.
In the docker tab, all dockers are listed as expected.

Right click on any container to attach to (see attach_docker_1.png): the window is asking to which container to attach (see attach_docker_1_popup.png and attach_docker_1_pop_selected.png. Strange, this window should not appear as the docker to attach to is right under the right click we

[2021-10-22 14:03] ykoehler opened #5783 "Enable support of remote docker container on a remote ssh host (allowing 'bind' mounting project code from remote repo)"
Today, with VSCode we can open a remote project using SSH.  We can also open a local project on a remote container using DOCKER_HOST.  But we cannot open a remote project on a remote container, that is the feature I am requesting here.

For example, given project /project/A, located on a remote machine.  If I want to open it on a container, I need to clone that project locally, then set DOCKER_HOS

[2021-10-22 15:24] telnet01 opened #5753 "can't connect to remote host after update 1.61.2"
Hello!

With a last version 1.62 VS Code I can't login on remote after install it on target
[code]

[2021-10-22 21:36] thechargedneutron opened #5755 "SSH disconnects when the laptop goes to sleep even for a short time while the native terminal is running"
- VSCode Version: 1.62.0-insider
- Local OS Version: macOS Big Sur 11.5.2
- Remote OS Version: Ubuntu 18.04 LTS
- Remote Extension/Connection Type: SSH
- Logs:

Steps to Reproduce:

1. Open native terminal in macOS and connect to a remote server. Connect to the same server with vscode.
2. Close the laptop lid and instantly open it up. Alternatively, let the laptop sleep due to inactivity and then

[2021-10-23 04:02] githubusr2 opened #5756 "i cannot connect to remote server by extension Remote-SSH"
Hi, I cant connect my pc to remote winbdows server by extension Remote-SSH, I tried much but not ok so come here for help.
I can use cmd teminal to successuflly connect to my remote server but i use vscode i cant, i see the script used by vscode,
it is
ssh -T -o ClearAllForwardings=true -F "C:\Users\Administrator\.ssh\config" "myip" powershell

i use it in cmd terminal and same result, but i use s

[2021-10-23 14:55] Shaka0723 opened #5757 "extension can not be installed in remote wsl"
Issue Type: <b>Bug</b>

1. host env: win 11(insider preview) +wsl2(ubuntu18.04) + vscode + remote_wsl
2. vscode extension can not be installed in remote-wsl:

3. I have tried 3 methods:
 a) install from extension market, by clicking button marked by red arrow as below:
![image](https://user-images.githubusercontent.com/56809930/138560847-dba811b6-1c5e-446f-89f3-6c3b7b72e395.png)
result: failed.
af

[2021-10-23 19:55] frankli0324 opened #5758 "Support for wildcards with `Include` in config files"
As is shown in ssh_config(5), `Include` configurations supports glob(7) wildcards. I've been using this feature to manage different types of shells I have. However this is not yet supported in ssh remote.

![image](https://user-images.githubusercontent.com/20221896/138569712-58c2807c-bfa0-4610-bfea-e57bc6df55c7.png)

Wish this plugin parses wildcards correctly.

[2021-10-24 03:33] connor4312 opened #5764 "Default Node.js container with rust feature fails to build"
1. Create a new devcontainer. Select "node.js"
2. Select Rust as an additional feature
3. Attempt to build. It fails.

[code]

[2021-10-24 12:50] brawaru opened #5761 "WSL2: make VS Code Server work with automount disabled"
If you disable automounting of Windows partitions in WSL2 (you can have reasons to do that) through creating

`/etc/wsl.conf`
[code]

… the VS Code will then fail to start since it can't copy it's server file from `/mnt/c/Users/username/AppData/Local/Temp/vscode-remote-wsl/`, since Windows partitions are never mounted.

<p align="center">
  <img src="https://user-images.githubusercontent.com/10401

[2021-10-24 23:53] #5758 closed, assigned to nobody

[2021-10-24 23:55] #4847 closed

[2021-10-25 10:34] a-gn opened #5760 "Can't use shortcut to connect to host: "TypeError: Cannot read property 'hostName' of undefined""
- VSCode Version: 1.61.2
- Local OS Version: Darwin arm64 20.6.0
- Remote OS Version: Irrelevant (I haven't chosen a host to connect to)
- Remote Extension/Connection Type: SSH
- Logs:

[code]

Steps to Reproduce:

1. Start in a local VSCode window, not connected to any remote host.
2. In "Keyboard Shortcuts", add a shortcut for "Connect to Host in Current Window" (say Cmd + K, H).
3. Press that s

[2021-10-25 12:31] #5724 closed, assigned to chrmarti

[2021-10-25 13:04] jmigual opened #5763 "WSL2 very high CPU usage when no activity"
Does this issue occur when all extensions are disabled?: **Yes** except the WSL2 extension that was not disabled

- VS Code Version: 1.61.2
- OS Version: Windows 10 19043.1288 / Ubuntu 20.04 (kernel 5.10.16.3-microsoft-standard-WSL2)

Steps to Reproduce:

1. Open a folder in WSL2
2. The CPU usage is very high but VSCode reports 0% usage:

![imatge](https://user-images.githubusercontent.com/6493651

[2021-10-25 13:58] Scrashdemix opened #5762 "Moodle setup in Bitnami container doesn't start"
**VS code version**: 1.61.2
Type of connection: Containers
OS: Ubuntu 20.04.3 LTS
OS (accourding to vscode): Linux x64 5.4.0-89-generic snap
Important extensions installed:
- Docker v1.17.0
- Remote-Containers v0.202.5
- Remote Development v0.21.0

**Description**:
I'm trying to run the `docker-compose.yml` file for moodle provided by bitnami ([original link](https://github.com/bitnami/bitnami-doc

[2021-10-25 14:29] #5510 closed, assigned to sandy081

[2021-10-25 15:22] #5713 closed, assigned to nobody

[2021-10-25 16:44] c0g1t8 opened #5765 "Remote Containers Try a Sample command is missing when run from WSL2"
- VSCode Version: 1.61.2
- Local OS Version: Windows 10 Pro
- Remote OS Version: Ubuntu 20.04.3
- Remote Extension/Connection Type: SSH/Docker/WSL2
- Logs:

_Remote-Containers: Try a Sample_ is not available as a command.

I've already filed an issue in the Visual Studio Code documentation repository -  https://github.com/microsoft/vscode-docs/issues/4908

[2021-10-25 17:15] lramos15 opened #5766 "[Remote Containers] Reconnection requires a window reload more often"
Using the latest insiders I've noticed Remote containers reconnection has required reloads a lot more often.

1. Have a docker-compose with a couple of alpine containers
2. Connect to them
3. Stop the compose
4. All windows say connection lost please attempt to reconnect
5. Restart the compose so the containers restart
6. 🐛 Clicking reconnect on the window does nothing, I must reload

[2021-10-25 17:27] agowa338 opened #5777 "linux dev container on windows incorrect core.filemode"
Does this issue occur when all extensions are disabled?: No, dev containers don't work then...

- VS Code Version: 1.61.2
- OS Version: Windows_NT x64 10.0.22478

Steps to Reproduce:

1. Create a new project with any Linux dev container (e.g. the python3 template) on a Windows host with docker.
2. Run `git config core.filemode` inside the dev container.

The 2nd command should return true as we're

[2021-10-25 18:40] arsalansiddique1 opened #5781 "Remote SSH stops working if current window is closed"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

1) Open SSH in current window
2) Open folder from host on the remote SSH window
3)Close The VS code SSH window
4) Open a new VS Code window and try ro conect to host and open same folder

Problem:
Folder is unable to be opened when steps carried out indicating a mess up of t

[2021-10-25 18:59] aaronadamsCA opened #5767 "Memory leak in Node.js dev container"
- VSCode Version: 1.61.2
- Local OS Version: Windows_NT x64 10.0.19043, Mac OS 11
- Remote OS Version: Debian 11.0
- Remote Extension/Connection Type: WSL (Windows), Docker (Mac OS)
- Logs: To be attached

Our dev team uses a shared container definition. Developer platforms include Windows on x64, Mac OS on x64, and Mac OS on ARM. All platforms exhibit a shared behaviour: a memory leak that slows

[2021-10-25 21:27] tanhakabir opened #5768 "Testing Remote-SSH: Having `+` signs in names of Hosts"
Refs: https://github.com/microsoft/vscode-remote-release/issues/5525

- [x] macOS @weinand
- [x] linux @mjbvz
- [x] windows @kieferrm

Complexity: 2

Authors: @roblourens

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testing+%235768%0A%0A&assignees=tanhakabir)

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testing+%235768%0A%

[2021-10-25 21:52] tanhakabir opened #5769 "Testing Remote-SSH: Verify ability to alphabetically order folders under remote targets in Remote Explorer"
Refs: https://github.com/microsoft/vscode-remote-release/issues/2560

- [x] anyOS @sandy081
- [x] anyOS @gregvanl

Complexity: 2

Authors: @roblourens

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testing+%235769%0A%0A&assignees=tanhakabir,roblourens)

---

We added a setting to sort folders under targets of the SSH Explorer.

Prerequisites:
1. Have a VM availa

[2021-10-25 21:58] tanhakabir opened #5770 "Testing Remote-SSH: No "nonexistent pipe" error popup"
Refs: https://github.com/microsoft/vscode-remote-release/issues/5723

- [x] windows @bpasero
- [x] windows @karrtikr

Complexity: 3

Authors: @roblourens

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testing+%235770%0A%0A&assignees=tanhakabir)

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testing+%235770%0A%0A&assignees=tanh

[2021-10-25 22:10] tanhakabir opened #5771 "Testing Remote-SSH: Include wildcard, `*`, in ssh config"
Refs: https://github.com/microsoft/vscode-remote-release/issues/5525

- [x] macOS @lszomoru
- [x] linux @lramos15
- [x] windows @rchiodo

Complexity: 4

Authors: @roblourens

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testing+%235771%0A%0A&assignees=tanhakabir,roblourens)

---

We want to make sure

Prerequisites:
1. Use the [Remote-SSH Nightly](https://marke

[2021-10-25 22:23] tanhakabir opened #5772 "Testing Remote-SSH: Adding new Hosts should prepend new Host to top of file below any `Include`"
Refs: https://github.com/microsoft/vscode-remote-release/issues/4592

- [x] macOS @weinand
- [x] linux @JacksonKearl
- [x] windows @devinvalenciano

Complexity: 3

Authors: @roblourens

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testing+%235772%0A%0A&assignees=tanhakabir)

[Create Issue](https://github.com/microsoft/vscode-remote-release/issues/new?body=Testi

[2021-10-26 01:31] balupton opened #5773 "hangs after authenticated"
VSCode Version:

[code]

and

[code]

- Local OS Version: macOS 12.0.1 (21A559)
- Remote OS Version: Ubuntu Server 21.04 on a Raspberry Pi 4
- Remote Extension/Connection Type: SSH

Steps to Reproduce:

1. Try to connect to the raspberry pi ubuntu server host I've connected to dozens of times before
2. After upgrading the connecting machine to MacOS Monteray, I am no longer able to connect to it v

[2021-10-26 01:45] Chuxel opened #5774 "WSL+Containers: Allow selection of an alternate distro for docker commands"
Remote - Containers now supports a mode where all CLI commands can be set to run directly inside of WSL by updating the **Execute in WSL** setting.

However, it can be useful to select a different WSL named "distro" for containers other than the WSL default. In particular, given running Docker or Podman directly in WSL does not ensure the same security boundary as running in a VM, using a separate

[2021-10-26 06:07] #5773 closed, assigned to nobody

[2021-10-26 06:51] #5688 closed, assigned to chrmarti

[2021-10-26 08:28] chrmarti opened #5775 "Review IsWindowsFilePathHeuristic fix with WSL"
The fix for https://github.com/microsoft/vssaas-planning/issues/5628 suggests that we are using a FileHost for the workspace's filesystem when we want to access the built-in features files. WSL has a similar setup, there might be a more targeted fix for this issue.

[2021-10-26 08:47] alexr00 opened #5776 "Include elevation in port restore"
Current behavior (only in codespaces since that's the only remote that uses elevation):
1. Forward a port that requires elevation
2. Provide elevation
3. ✔ port is forwarded using the privileged local port
4. Reload
5. ❌ privileged local port is not restored

To fix step 5, we should store and restore whether a port should ask for elevation.

[2021-10-26 09:20] #5746 closed, assigned to chrmarti

[2021-10-26 12:36] #5696 closed, assigned to chrmarti

[2021-10-26 12:53] #5752 closed, assigned to chrmarti

[2021-10-26 12:56] #5748 closed, assigned to nobody

[2021-10-26 14:21] bpasero opened #5778 "2 errors (dialog, toast) when connecting to non existing host"
Testing #5770

![image](https://user-images.githubusercontent.com/900690/138898744-b66940c7-37e8-422d-b0a1-12b292405ded.png)

[2021-10-26 14:26] #5764 closed, assigned to chrmarti, joshspicer

[2021-10-26 14:29] fyyyyy opened #5779 "TIP: Programmatically ensure Dockerfile is built by VScode"
We recently had the issue that a user tried to build the .devcontainer/Dockerfile manually with docker and was expecting this to work. To handle this error i added following:

In your Dockerfile:

[code]

In devcontainer.json:

[code]

[2021-10-26 14:41] weinand opened #5780 "new hosts are always added at the end"
Testing #5772

After installing "Remote - SSH (nightly) v201.10.19620" new hosts added via `Connect to Host` -> + `Add New SSH Host` are always added to the end (independent from whether there is an Include or not):

<img width="487" alt="2021-10-26_16-40-16" src="https://user-images.githubusercontent.com/1898161/138902367-383edba8-8b3c-4b4c-b68c-0677a4079bda.png">

Does the latest Insider version

[2021-10-26 15:18] #5674 closed, assigned to chrmarti

[2021-10-26 16:43] #5780 closed, assigned to tanhakabir

[2021-10-26 16:52] #5771 closed, assigned to nobody

[2021-10-26 22:03] #5726 closed, assigned to aeschli

[2021-10-27 00:57] #5710 closed, assigned to nobody

[2021-10-27 07:41] #5769 closed, assigned to nobody

[2021-10-27 08:00] aeschli opened #5784 "busy ripgrep process when opening wsl on a root folder"
- Open a WSL window on the root folder `/` on a WSL1 distro (Ubuntu 18.04)
- open `htop` and see that that there a process running, consuming around 10% of the CPU. It doesn't seem to terminate (or is called repeatetly?)

![recording (1)](https://user-images.githubusercontent.com/6461412/139024990-43084d8e-680e-4281-b415-55d63f9e947a.gif)

`/home/aeschli/.vscode-server-insiders/bin/dc1a6699060423b

[2021-10-27 08:12] omersi opened #5785 "some options are missing from menu"
Issue Type: <b>Bug</b>

I installed `remote development extension pack (v.0.21.0)`. when I want to start developing, I don't have the option `Remote-Containers: Open Repository in Container...` as shown here:
https://youtu.be/Uvf2FVS1F8k?t=120

Extension version: 0.21.0
VS Code version: Code 1.61.2 (6cba118ac49a1b88332f312a8f67186f7f3c1643, 2021-10-19T14:58:13.605Z)
OS version: Linux x64 5.11.0-38

[2021-10-27 09:01] max06 opened #5786 "DevContainers: Gitconfig incomplete"
- VSCode Version: 1.61.2
- Local OS Version: Win11
- Remote OS Version: Ubuntu 20.04
- Remote Extension/Connection Type: Docker

Steps to Reproduce:

1. Have a local git config containing a conditional include (since git 2.13) like
[code]
2. Launch container and check log:

`[58037 ms] Start: Run in container: # Copy C:\Users\max06\.gitconfig to /root/.gitconfig`

Only the main git config gets cop

[2021-10-27 09:14] max06 opened #5787 "Substitute environment variables from ssh connected Docker host"
- VSCode Version: 1.61.2
- Local OS Version: Win11
- Remote OS Version: Ubuntu 20.04
- Remote Extension/Connection Type: Docker

Steps to Reproduce:

**Attention:** This is a docker remote setup running on different hosts. The remote host (linux) is configured as a docker context in the cli (windows). This is **not** docker desktop.

1. Have a `devcontainer.json` configuration containing something

[2021-10-27 09:31] max06 opened #5788 "DevContainers: code-command unavailable in PostAttachCommand"
- VSCode Version: 1.61.2
- Local OS Version: Win11
- Remote OS Version: Debian 11 (Container)
- Remote Extension/Connection Type: Docker

Since mounts are rather suboptimal in some system configurations I tried to find another solution for having app specific config files. This attempt includes a mounted volume (for persistence across rebuilds) and a `postAttachCommand`-trigger asking the user for

[2021-10-27 09:32] andyli opened #5789 "use host's container registry credentials inside devcontainer"
I'm currently using [docker-from-docker](https://github.com/microsoft/vscode-dev-containers/tree/main/containers/docker-from-docker) as a devcontainer.

I would like to push image to my container registry from inside the devcontainer. It requires logging in the container registry (again), despite I'm already logged-in in the host.

My feature request is to allow the container to forward the creden

[2021-10-27 09:56] #5706 closed, assigned to alexr00

[2021-10-27 10:15] refond opened #5790 "WSL Ubuntu-20.04 refuses to start / connect to remote WSL"
Issue Type: <b>Bug</b>

It seems to be willing to install WSL components at the same time it starts to connect to remote WSL and fails with "VS Code Server for WSL closed unexpectedly. Check WSL terminal for more details."

WSL console run without problem.

VS Code version: Code 1.61.2 (6cba118ac49a1b88332f312a8f67186f7f3c1643, 2021-10-19T14:57:20.575Z)
OS version: Windows_NT x64 10.0.19042
Restri

[2021-10-27 11:55] #5785 closed, assigned to chrmarti

[2021-10-27 11:56] #5786 closed, assigned to nobody

[2021-10-27 13:02] #5783 closed, assigned to chrmarti

[2021-10-27 14:09] #5766 closed, assigned to chrmarti

[2021-10-27 14:29] fulldecent opened #5791 "Cannot reconnect. Please reload the window."
Issue Type: <b>Bug</b>

Every time I step away from the computer I get:

This is using the Microsoft Remote Server/SSH extension connected to a recome Linux host.

VS Code version: Code 1.61.2 (Universal) (6cba118ac49a1b88332f312a8f67186f7f3c1643, 2021-10-19T15:49:28.381Z)
OS version: Darwin arm64 21.1.0
Restricted Mode: No
Fetching remote diagnostics for 'SSH: lms.acls.net' failed: Canceled

<det

[2021-10-27 14:46] #5762 closed, assigned to chrmarti

[2021-10-27 18:38] #5772 closed, assigned to nobody

[2021-10-27 19:12] tigerinus opened #5792 "vscode lost remote ssh connection - Extension Host Process exited with code: null, signal: SIGSEGV."
- Local Environment
[code]
- Remote Environment
[code]

- Remote Extension/Connection Type: `SSH`
- Logs:

[code]

Steps to Reproduce:

1. Open a Java project from VSCode Remote SSH environment
2. Try to trigger auto-complete somewhere in the Java code.

![vscode](https://user-images.githubusercontent.com/7172560/139131466-302bb814-0db5-45e3-b0e7-0b4c234d86d4.gif)

Symptoms:

As part of the repro,

[2021-10-27 19:15] #5770 closed, assigned to nobody

[2021-10-27 19:15] #5737 closed, assigned to JacksonKearl

[2021-10-27 20:22] voxpelli opened #5793 "Missing license from eg. MIT-licensed dependencies violates the license?"
I can see that `dist/extension/extension.js` of `remote-containers@0.202.5` contain distinct code like:

[code]

Which quite clearly [comes from the `debug`module](https://github.com/visionmedia/debug/blob/d177f2bc36d3b8b8e9b1b006727ef5e04f98eac7/src/common.js#L265-L267) :

[code]

Though it seems like this code is distributed without any inclusion of the `debug` module [`LICENSE`](https://github.

[2021-10-27 20:58] #5768 closed, assigned to nobody

[2021-10-27 21:28] #5793 closed, assigned to nobody

[2021-10-27 21:36] #5792 closed, assigned to nobody

[2021-10-27 22:45] ryan-efendy opened #5794 "There's no run or debug option to debug app in container"
Issue Type: <b>Bug</b>

Open Remote - Containers
Select Try a Development Container Sample
Select Node
Navigate to "Run and Debug" and is empty

Extension version: 0.203.0
VS Code version: Code - Insiders 1.62.0-insider (0f7f6e338a4e86306474d4d01bdea9b8fe798017, 2021-10-27T05:15:08.811Z)
OS version: Darwin arm64 20.6.0
Restricted Mode: No
Remote OS version: Linux arm64 5.10.47-linuxkit

<details>

[2021-10-28 08:22] #5790 closed, assigned to aeschli

[2021-10-28 10:49] #5703 closed, assigned to alexr00

[2021-10-28 12:31] #5747 closed, assigned to chrmarti

[2021-10-28 13:24] yamamoto-works opened #5795 "Support docker-compose 3.9 profiles"
https://docs.docker.com/compose/profiles/

https://github.com/microsoft/vscode-docker/issues/2777

[2021-10-28 15:05] DHOFM opened #5796 "Remote Container (Docker) rebuild needed after VSCode relaunch"
Hi,
VSCode is
Version: 1.61.2

OS: Mac OS

I use a remote container, built from Dockerfile with Python. Works Fine until relaunch. After relaunch custom libraries like tensorflow are not found by VSCode. After rebuild everything works again. Logging into the running container via shell and using Python in the container the Libs are found. I also notice that in the output window, the call is differ

[2021-10-29 03:08] testforstephen opened #5797 "file watchers registered by LSP not working in wsl2-ubuntu-20.04.1"
- VSCode Version: 1.61.2
- Ubuntu 20.04.1 LTS (GNU/Linux 5.10.16.3-microsoft-standard-WSL2 x86_64)
- Remote-WSL: v0.58.4

Steps to Reproduce:

1. Clone Java project https://github.com/microsoft/vscode-remote-try-java to a windows directory
2. Open this project folder in VS Code first, then use "Reopen Folder in WSL"
3. Install “**Extension Pack for Java**” extension in WSL
4. Waiting for Java exte

[2021-10-29 10:36] chrmarti opened #5798 ".gitconfig not copied to temporary container for cloning repository"
That makes the cloning fail, e.g., for Azure DevOps repos which need `credential.useHttpPath` enabled.

Related: https://github.com/microsoft/vscode-remote-release/issues/5565#issuecomment-945938671

[2021-10-29 10:46] #5798 closed, assigned to chrmarti

[2021-10-29 17:01] bennrosh23 opened #5807 "Can't save my code"
When I try to save my file the in remotte ssh the following error occurs ...
I could be able to save in nano editor in terminal ...
But pressing ctrl + s in VS code won't work and the following error occurs....

Failed to save 'Input_AsmGen.cpp': Unable to write file 'vscode-remote://ssh-remote+ai-aws/export/home/broshnan/sw_dev/device_model_instr/Input_AsmGen.cpp' (NoPermissions (FileSystemError)

[2021-10-29 18:21] tanhakabir commented on #761
@dennisleung hm sorry about that! If you're still facing that issue, it would be great if you could file an issue for it.

I'm going to close this issue since it seems like the request is already supported now. Let me know if any of you think otherwise!

[2021-10-29 18:21] #761 closed

[2021-10-29 18:26] connor4312 commented on #5678
Reopening per the user's report

[2021-10-29 18:29] rzhao271 commented on #5678
Something else to check is whether you're on Remote - Containers v0.205.0

[2021-10-29 18:32] tanhakabir commented on #5603
Closing this issue since it looks like @jonashaag, you got it solved?

[2021-10-29 18:32] #5749 closed

[2021-10-29 18:50] theUpsider commented on #5678
Im on v0.202.5

[2021-10-29 20:00] tanhakabir commented on #248
Not reproducing this issue anymore.

[2021-10-29 20:00] #248 closed

[2021-10-29 20:03] tanhakabir commented on #1587
Not reproducing this issue anymore.

[2021-10-29 20:03] #1587 closed

[2021-10-29 20:06] tanhakabir commented on #5238
Closing this issue since it seems inactive.

[2021-10-29 20:06] #5238 closed

[2021-10-29 20:13] tanhakabir commented on #2134
@mukerong are you still seeing this issue?

[2021-10-29 20:14] #2419 closed

[2021-10-29 20:17] tanhakabir commented on #2759
@lubocheng are you still seeing this issue?

[2021-10-29 20:18] tanhakabir commented on #2687
@wjsgzcn are you still seeing this issue?

[2021-10-29 20:21] tanhakabir commented on #3565
@curoky are you still seeing this issue?

[2021-10-29 20:22] tanhakabir commented on #4930
Hey @martinowren! Did @aeschli's suggestion fix your issue?

[2021-10-29 20:23] rednevals commented on #3454
This happens to me without the laptop going to sleep. Just pops up the dialog at random intervals. Stand-alone WSL sessions are unaffected. Doing the reload reconnects. It's starting to be unusable...

[2021-10-29 20:25] tanhakabir commented on #5274
@kongfanmiao let us know if the fix in 1.58 didn't work for you!

[2021-10-29 20:25] #5274 closed

[2021-10-29 20:25] #5300 closed

[2021-10-29 20:26] tanhakabir commented on #5300
I believe it's probably due to https://github.com/microsoft/vscode/issues/135021

But closing this issue due to inactivity

[2021-10-29 20:35] zengemvisor-gb opened #5805 "Dev container crash won't allow closing, quiting, or reopening the app"
Issue Type: <b>Bug</b>

Try to build  dev container fails to build  looks like the container workspace is double nested but the container is Disconnected.

Trying to re-open the project try's reopen the workspace which then crashes and you are left in the same state. had to use task manager to quit the app

Need to just open the folder to edit the devcontainer.json

VS Code version: Code - Insider

[2021-10-29 21:07] roblourens commented on #5683
Can you tell us more about servers that don't support that flag? Why not? What happens?

[2021-10-29 21:43] roblourens commented on #5782
The hosts come from your ssh config, and I don't want to support deleting those, because it might lead to confusion. But deleting the folders is a fair feature request.

[2021-10-29 21:52] roblourens commented on #5781
Ok, it sounds like as long as you leave some ssh connection open, then you can open a new remote window, but once they have all closed you connect but get permission errors from the remote. I'm wondering if your remote has some setup where you connect as a different user, or to a different node, or something else is different if you have not logged in recently. Maybe there is some cleanup process

[2021-10-29 21:53] roblourens commented on #5791
Please share the log from the Remote-SSH output channel when this happened, it should tell us why reconnecting failed.

[2021-10-29 21:54] roblourens commented on #5755
It should be trying to reconnect at this point. Please share the log from the Remote-SSH output channel, it should tell us why it failed to reconnect

[2021-10-29 21:57] arsalansiddique1 commented on #5781
Yeah quite possibly could be due to the weird setup of my uni's remote server. It connects to a jump page and then another ssh command is used to connect to the cluster of servers I want. I'll just use the workarounds I found for now, thanks.

[2021-10-29 21:57] roblourens commented on #5488
All I can say is that ssh is telling us that forwarding the port failed. Maybe port forwarding is enabled but that port is blocked by a firewall? `39553`

[2021-10-29 21:59] roblourens commented on #5488
All I can say is that forwarding the port failed. If port forwarding is enabled, maybe that port on the server is blocked by a firewall?

`Failed to set up socket for dynamic port forward to remote port 45901: connect ECONNREFUSED 127.0.0.1:39553. Is the remote port correct?`

It's also possible that the server died after starting successfully, but I think that's less likely. But you could check i

[2021-10-30 00:08] mukerong commented on #2134
@tanhakabir, It still doesn't work, but I found a workaround. I think we can close it for now.

[2021-10-30 00:17] chuckds opened #5799 "Connection hangs at "checking for a running server""
* VSCode version 1.61.2
* local OS: Windows 10
* Remote OS: RHEL 7
* Using: Remote: SSH

When I try to connect to my linux server using remote ssh the connection just hangs ("Setting up SSH Host <hostname>: Installing VS Code Server").

The last entry in the remote output window is:

[code]

Neither of these files exist.
On the server the only process tree that seems to be vscode related seems bro

[2021-10-30 01:01] Shaka0723 commented on #5757
It seemed failure only occurred   when I installed python extension .
I tried installing other extension(e.g.  Go extension) in WSL and got success.
![image](https://user-images.githubusercontent.com/56809930/139514637-ae5895e2-6e46-4576-aaf5-5f8cc201c1ac.png)

I install python extension in both windows（get 1 log） and wsl （get 2 logs）
---------------------------------------------------------------

[2021-10-30 01:06] thechargedneutron commented on #5755
@roblourens  After I put the laptop lid down and instantly put it up, the password prompt comes, if I do not enter the password and click exit I get the following log. Though, my concern is that vscode should not ask for password again if I instantly open up my lid again (similar to macOS native terminal).

[19:57:04.914] [Forwarding server 52217] Got connection 3
[19:57:04.925] ------

[19:57:04.

[2021-10-30 04:20] curoky commented on #3565
It looks like the problem has been fixed, thanks 🥳.

[2021-10-30 04:20] #3565 closed

[2021-10-30 05:58] benkillin opened #5800 "vscode-server with remote-ssh extension eats 100% cpu if "sleep" binary does not exist"
- VSCode Version: 1.61
- Local OS Version: windows 10
- Remote OS Version: rhel 7
- Remote Extension/Connection Type: SSH
- Logs:

Steps to Reproduce:

1. delete the sleep binary
2. connect to the remote host using the vscode remote-ssh plugin

Does this issue occur when you try this locally?: Yes
Does this issue occur when you try this locally and all extensions are disabled?: Yes  other than rem

[2021-10-30 06:38] chrisandrewca opened #5801 "Remote SSH appears to not work when using a VPN app."
- VSCode Version: 1.61.2
- Local OS Version: Windows 11
- Remote OS Version: 0.65.8
- Remote Extension/Connection Type: SSH
- Logs: See below

Steps to Reproduce:

1. rm .vscode-server on server
2. install latest remote ssh extension
3. install latest vscode
4. install and connect to a vpn app (a vpn app creates a new network, handles the configuration for you, NOT a manually added vpn in windows)

[2021-10-30 06:45] chrisandrewca commented on #5801
Log from successful connection without VPN.

    [23:43:33.716] Log Level: 2
    [23:43:33.728] remote-ssh@0.65.8
    [23:43:33.728] win32 x64
    [23:43:33.730] SSH Resolver called for "ssh-remote+<REMOTE_SSH_HOST>", attempt 1
    [23:43:33.730] "remote.SSH.useLocalServer": false
    [23:43:33.730] "remote.SSH.showLoginTerminal": false
    [23:43:33.731] "remote.SSH.remotePlatform": {"<REMOTE_SSH

[2021-10-30 08:57] navneetkarnani commented on #5486
I am not in a position to test it at this time. May be a few weeks before I can get back to a state where I can.

The verification steps are as follows:
- On a Mac, install GCM ( https://github.com/microsoft/Git-Credential-Manager-Core )
- This should add GCM as a credential helper. If not, set it as the credential helper using
- Create a docker compose based remote container setup
- Open the setu

[2021-10-30 09:34] mrmachine commented on #1409
Circling back on this issue. I believe `docker buildx install` on the host works for regular projects checked out to the host mac and opened in a container via vscode, because the host docker environment is doing the build.

But it does NOT seem to work for the `Clone Repository in Container Volume` feature. Is it the case that `Clone Repository in Container Volume` is using docker in docker? Beca

[2021-10-30 10:18] githubusr2 commented on #5756
thank for your reply, i give up for this issue

[2021-10-30 10:23] githubusr2 commented on #5756
thank for your reply, i give up for this issue

[2021-10-30 10:23] #5756 closed

[2021-10-30 12:34] paul-yamamoto commented on #5795
Yes.
VScode Docker plugin supports docker-compose `profiles` properties and can choose which service will run.
But remote plugin can't do that.

[2021-10-30 13:07] refond commented on #5790
Rebooting the whole system solved the problem.

[2021-10-30 13:38] jonashaag commented on #5603
No it’s not solved. I can’t change anything about those permissions so I’m unable to use VSCode remote in a recent version.

[2021-10-30 21:16] #2134 closed

[2021-10-31 08:14] Bc137 opened #5802 "Failed to connect to the remote extension host server (Error: The process tried to write to a nonexistent pipe)"
Issue Type: <b>Bug</b>

Have latest vscode installed with remote ssh extension

Open explorer and try to connect to linux host via remote ssh in my case I have tried ubuntu 20.04 or raspbian .
ssh user@host
whether using the config file or ad hoc commands or passwordd auth or ssh keys I get this samer erro

Failed to connect to the remote extension host server (Error: The process tried to write to

[2021-10-31 11:18] fabge commented on #4069
When Remote SSHing from an M1 Macbook Air to an M1 Mac Mini I experience the same issue.
The whole thing is running under Rosetta. Is there any way to fix this?

[2021-10-31 11:45] alvarlagerlof commented on #3345
That does not work anymore. Any alternatives?

[2021-10-31 12:31] #5391 closed

[2021-10-31 14:39] mikehardy commented on #4069
@fabge if I understand correctly it won't be fixed completely until VSCode updates to a newer version of node under the covers, which won't happen until it is forward-ported to a newer version of Electron, which requires a bunch of other work, so maybe not for a while.

However, this workaround does the trick for me after I remote ssh in - I have this set in my bash aliases file as `arm64` and I j

[2021-10-31 21:15] yanhui09 opened #5803 "Got bad results from install scripts & Access is denied. but could connect the remote host in command line"
- VSCode Version: 1.61.2
- Local OS Version: windows 10 21H1
- Remote OS Version: ubuntu 18.04
- Remote Extension/Connection Type: SSH
- Logs:

[code]

Steps to Reproduce:

1. I have been using the vscode to connect my host within our university network (through VPN). Today I couldn't connect to it anymore through vscode. The previous ssh config (using RSA-keys) couldn't work, but telling me `Acce

[2021-11-01 00:23] mrmachine opened #5804 "Buildkit does not work with `docker-compose`."
- VSCode Version: Version: 1.61.2 (Universal)
- Local OS Version: macOS 11.6
- Remote OS Version: `alpine` image
- Remote Extension/Connection Type: Docker
- Logs:

[code]

Steps to Reproduce:

`.devcontainer.json`:

[code]

`Dockerfile`:

[code]

`docker-compose.yml`:

[code]

Does this issue occur when you try this locally?:

**Yes** with `docker-compose`:

[code]

**No** with `docker compose`:

[2021-11-01 00:53] kusznerr commented on #120
Team - how many upvotes we need to give for the proposed feature to be implemented. ? I saw multiple other threads being closed and referenced to this one. As you can see a dev community would really welcome this particular feature to be enabled 👍

[2021-11-01 02:14] bigdrum commented on #5703
This is probably not duplicate. #124582 only shows first request is slow after port-forward. But for our case, every TCP connection hand shake is slow, not just the one right after the initial port-forward.

Also we are orders of magnitude slower. (10 seconds vs. 300ms)

[2021-11-01 07:01] lucasresck commented on #4244
Hi, @roblourens and @hgezim, how are you? I am also running into this issue in a remote Ubuntu machine, maybe you could assist me.

I have a successfully configured GitHub repository using a SSH key in this remote machine and I can successfully connect to this machine using VS Code's Remote - SSH extension. However, VS Code's Git does not work after starting ssh-agent at the terminal and adding my

[2021-11-01 08:04] sandy081 commented on #5757
@Shaka0723 Thanks for the logs.

Can you also please share the logs while installing Go extension?
Also please window logs while installing Go & Python extensions

[2021-11-01 08:44] chrmarti commented on #5796
Could you append your devcontainer.json? Are you listing the extensions you need in the devcontainer.json's `"extensions"` property?

[2021-11-01 08:47] chrmarti commented on #5678
The fix is only in Remote-Containers 0.203.0 and later. (Thanks @rzhao271!)

@theUpsider Could you use VS Code Insiders (https://code.visualstudio.com/insiders/) to get the latest version of Remote-Containers (currently 0.205.0) for verification.

(Closing again for verification.)

[2021-11-01 08:47] #5678 closed

[2021-11-01 09:50] yanhui09 commented on #5803
Updates:
I could use remote vscode-server with my macbook, but it still didn't work for my windows PC.

[2021-11-01 10:11] chrmarti commented on #1409
Could you give the latest Remote-Containers (0.205.0 or later) a try? This currently requires VS Code Insiders and comes with an updated Dockerfile using a new Docker Compose for building dev container images from volumes. I see the `--mount` option working with that (it failed with 0.202.5 as you report).

[2021-11-01 10:24] chrmarti commented on #5804
Not sure how you installed Docker, but the latest Docker Desktop versions support forwarding `docker-compose` to `docker compose`. Have you tried that? (Also see https://docs.docker.com/compose/cli-command/#installing-compose-v2 for details.)

[2021-11-01 10:25] chrmarti commented on #5804
Worth mentioning: The extension automatically uses `docker compose` when there is no `docker-compose` executable on the PATH.

[2021-11-01 10:49] sandy081 commented on #5714
Fixed by https://github.com/microsoft/vscode/commit/d7e50f713cc2c8cb1c541c3b04a9cc2b5654432b

[2021-11-01 10:55] weinand commented on #1062
I cannot produce problem in the lastest Insiders.

[2021-11-01 10:55] #1062 closed

[2021-11-01 11:31] mrmachine commented on #1409
I've just tried the latest VS Code Insiders and Remote-Containers 0.205.0. On first run, my `.devcontainer/init` script returns a non-zero exit code intentionally, to give the user an opportunity (and instructions) to reopen in the recovery container and provide some secrets that are required to build the image.

With 0.202.5 that works fine, and the build after providing secrets fails (because I

[2021-11-01 11:53] mrmachine commented on #5804
Thanks. I didn't know about the Docker Desktop preference. That does seem to allow me to build via `docker-compose` with buildkit. However, that preference (or removing `docker-compose` from `PATH`) are nuclear/global options. It would be nice if we could specify `docker-compose` (v1) or `docker compose` (v2) via `devcontainer.json`.

[2021-11-01 12:31] #5745 closed

[2021-11-01 13:49] yanhui09 commented on #5803
I made a typo before.
I **could** connet the remote host using ssh in powershell.

[2021-11-01 13:53] nbraun-wolf opened #5806 "Use interactive login shell to probe WSL env vars"
- VSCode Version: 1.61.2
- Local OS Version: wsl2 ubuntu 20.04
- Reproduces in:| Remote - Containers |
- Name of Dev Container Definition with Issue:

Steps to Reproduce:

HI, I have some variables set in my shell from my bashrc. I am unable to pass them to the devcontainer started from a compose file. It works with regular compose up, as its feature of compose to pick env variables either from sh

[2021-11-01 14:53] Chuxel commented on #5806
Also, you can't set this env var in WSL, you'd need to launch the process from PowerShell/CMD with the env set since VS Code starts up on the Windows side.

[2021-11-01 15:21] rednevals commented on #3454
I even increased the WSL memory to 15G, still happens after a few minutes:

[code]

[2021-11-01 15:26] alexdima commented on #3454
@rednevals Could you please also share the server logs?

[2021-11-01 15:31] tanhakabir commented on #5801
Hmm while you have your VPN running are you able to connect through your bash shell? `ssh "<REMOTE_SSH_HOST>"` or even in PowerShell?

[2021-11-01 15:33] tanhakabir commented on #5802
Hey! It looks like the actual error is `ssh pi@redacted: Permission denied (publickey,password).` Are you able to connect to your remote in PowerShell or whatever you default shell is? `ssh pi@redacted`

[2021-11-01 15:34] rednevals commented on #3454
Sorry, where can I find them? That was the WSL log...

[2021-11-01 15:34] tanhakabir commented on #5800
Hm why are you removing the sleep binary from your machine?

[2021-11-01 15:35] rednevals commented on #3454
I have disabled all extensions and disabled Docker and MiniKube. As soon as I open VSCode, it will do this after a few minutes of doing nothing.

[2021-11-01 15:42] tanhakabir commented on #5803
Hmm you could try running the command `Kill VS Code Server on Host` before trying to connect?

@roblourens any other ideas for what could be happening here?

[2021-11-01 15:43] nbraun-wolf commented on #5806
Hm, It makes sense what you say, but It's still not working.

I have now added that variable to my Windows system environment variables. It shows up in PowerShell when I do ` Get-ChildItem env:`.

Then I launch VS Code from the same powershell session by typing `code`.

I have also tried to target the workspace with `code \\wsl$\Ubuntu-20.04\home\user\projects\app` which doesn't open it in wsl. Wh

[2021-11-01 15:48] roblourens commented on #5799
Could you share the full log?

There is an echo of `ps` output, which I guess has exited, then the other commands to find a running server if already available.

[2021-11-01 15:49] Chuxel commented on #5806
@nbraun-wolf Be sure you've gotten all VS Code windows closed when you are trying this other wise you will not get a new process.

//cc: @chrmarti if he's aware of anything here that is recent.

[2021-11-01 15:55] chuckds commented on #5799
I included a snippet from `ps aux --forest` . The process tree in the snippet does not exit, it hangs around until killed (still there after 3 days) - hence my comment about it seeming incorrect like grep is being invoked without the right args. There are no other processes related to vscode in the ps output that I can tell (no mention of `node` or `vscode`). Is there anything else I should look f

[2021-11-01 16:05] rednevals commented on #3454
[code]

[2021-11-01 16:16] SlothFriend opened #5815 "View files during devcontainer build"
Hi, it would be great if we could still view files while vscode is building the devcontainer. I attached a screenshot of the experience waiting for the devcontainer to build and not being able to view the files anymore.

Thanks for considering this request!

<img width="1680" alt="Screen Shot 2021-11-01 at 10 11 59 AM" src="https://user-images.githubusercontent.com/11187206/139703771-e3f53546-4645

[2021-11-01 16:39] tanhakabir commented on #4425
Hey @IridiumWasTaken, just checking in to see if this is still an issue for you?

[2021-11-01 16:44] tanhakabir commented on #5753
Closing issue due to inactivity

[2021-11-01 16:59] IridiumWasTaken commented on #4425
Hi, I haven’t used VSCode with Julia for a while. Will check if it’s been fixed by some update.

Von: ***@***.***>
Gesendet: Montag, 1. November 2021 17:39
An: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Betreff: Re: [microsoft/vscode-remote-release] Missing vowels in julia interactive prompt (#4425)

Hey @IridiumWasTaken<https://github.com/IridiumWasTaken>, just checking in to see if this is stil

[2021-11-01 18:14] yanhui09 commented on #5803
Yes. I have tried that before, it didn't work for me.
The good news is that now I can connect to the remote server from my windows pc, after I used my macbook to connect to the remote server. (The connection from macbook made a new `.vscode-server` there, as I have removed the old one)

I'm not sure but I think it's something stuck on my windows PC. It couldn't connect to the server with the old c

[2021-11-01 18:17] roblourens commented on #5429
What do you have for `terminal.integrated.inheritEnv`?

[2021-11-01 18:18] roblourens commented on #5631
I don't understand, it sounds like this happens when connected with Remote-SSH

[2021-11-01 18:19] roblourens commented on #5751
I need more details, what happened exactly?

[2021-11-01 18:19] roblourens commented on #5744
Ok, I don't think that we can reasonably work around that, sorry.

[2021-11-01 18:19] #5744 closed

[2021-11-01 18:21] roblourens commented on #5733
That is the watcherService process @bpasero

[2021-11-01 18:22] #5781 closed

[2021-11-01 19:07] roblourens commented on #5755
Well, the socket might close for some reason in the time that the laptop was asleep. Seems that sometimes ssh in the terminal will survive a brief sleep, sometimes not, same for vscode. Also, we implement our own timeout where once the remote is not reachable for some amount of time, we assume it's disconnected and try to reconnect. So I have to just call this "by design". @alexdima I wonder wheth

[2021-11-01 19:09] #5803 closed

[2021-11-01 22:22] martinowren commented on #4930
Unfortunately I cannot recall 😅

[2021-11-01 22:55] tanhakabir commented on #4930
No worries! I'll close this issue for now but feel free to let me know on this issue or a new one if you this is still a problem for you!

[2021-11-01 22:55] #4930 closed

[2021-11-02 00:36] mrmachine commented on #1409
I temporarily stripped my `.devcontainer/init` script to avoid returning a non-zero exit code, and I also had to remove a bind mount volume from my `docker-compose.yml` file to avoid a `Mounts denied` error, but then finally I was able to build my image via buildkit with `Clone Repository in Container Volume`.

I am however now unable to edit any files because `/workspace` is owned by `root` and I

[2021-11-02 00:48] mrmachine opened #5808 "Mounts denied with `Clone Repository in Container Volume` with Docker Desktop (macOS)"
- VSCode Version: Version: 1.62.0-insider
- Local OS Version: macOS 11.6
- Remote OS Version: N/A
- Remote Extension/Connection Type: Docker
- Logs:

[code]

Steps to Reproduce:

1. Use `Clone Repository in Container Volume` on a repo with a `dockerComposeFile` in `devcontainer.json` that includes a bind mount, on Docker Desktop (macOS).

`.devcontainer.json`:

[code]

`Dockerfile`:

[code]

`dock

[2021-11-02 01:09] mrmachine opened #5809 "`containerUser` does not work with `Clone Repository in Remote Volume`"
- VSCode Version: Version: 1.62.0-insider
- Local OS Version: macOS 11.6
- Remote OS Version: Docker Desktop 4.1.1 (macOS)
- Remote Extension/Connection Type: Docker
- Logs:

Steps to Reproduce:

1. Use `Clone Repository in Container Volume` on a repo with a `Dockerfile` that creates an unprivileged user, and a `devcontainer.json` that references that user in `containerUser`.
2. Note that `/worksp

[2021-11-02 05:47] bpasero commented on #5733
Can you try to reproduce with our nightly insider builds? You can give our preview releases a try from: https://code.visualstudio.com/insiders/

[2021-11-02 06:02] bennrosh23 commented on #5807
No I can save the file in nano editor ....
So I think permissions are alright ...
I only can't save it in VSCODE by simply pressing ctrl + s
every time to save the code I create a new file in nano, copy paste the code ... save the code in terminal ...

[2021-11-02 07:07] benjaminwood opened #5810 "Cloning repository in volume with docker-compose configuration always results in root file permissions"
When cloning a repository in a container volume (or named container volume) that contains a `.devcontainer` configuration using docker-compose, the workspace directory will *always* be owned by `root:root`, regardless of what user is used in the container via `USER` in the Dockerfile or, `user` in `docker-compose`, or `remoteUser` in `.devcontainer`.

It is important to note that this problem is d

[2021-11-02 07:23] alexdima commented on #5755
@roblourens The core will invoke the resolver again. You can definitely return the same port again from the resolver if the previous SSH tunnel is still healthy. For example, once it started the server, Remote WSL always returns the same port from the resolver.

[2021-11-02 07:31] chrmarti commented on #5804
Just for my understanding: What are the differences between the two that would make you use v1 over v2? (My assumption so far was that v2 is largely backwards compatible with v1.)

[2021-11-02 07:46] chrmarti commented on #5806
Try moving the variable to your `~/.profile` or `~/.bash_profile` (whichever exists or create one of the two if there is none).

Does that work?

We are using a non-interactive login shell to probe the environment variables in WSL and use these as the "local" variables. Using an interactive login shell would also source `.bashrc`, but the `wsl` CLI makes doing that difficult because it does not ha

[2021-11-02 07:57] alexdima commented on #3454
@rednevals Thank you for the extra logs. Here is what I can put together from the logs:

From the [client log](https://github.com/microsoft/vscode-remote-release/issues/3454#issuecomment-956327102):
* the WebSockets between the client and the server closes. This happens both for the Management connection and the Extension Host connection, thus ruling out the case where the remote extension host wo

[2021-11-02 07:58] chrmarti commented on #1409
We `chown` the cloned repository once after cloning, but then leave the ownership as it is.

For my own understanding: What are the differences between classic and buildkit builds that makes you want to use a flag in the devcontainer.json to use the classic build? (buildkit seems to be largely backwards compatible.)

[2021-11-02 08:40] alexr00 commented on #5678
@chrmarti the flow proceeded, but I got asked which container I wanted to connect to even though I had specifically right clicked on a specific container.

[2021-11-02 08:49] chrmarti commented on #5808
We are using a second docker-compose.yml to add to the first one. The merging of multiple compose files by Docker Compose currently does not support removing volumes: https://github.com/docker/compose/issues/3729

[2021-11-02 10:02] paulfelton commented on #4865
The problem with setting in the client is that hard-codes to a specifc proxy.  In a large enterprise we have different proxies depending on where we're working and our connection method.  The system is configured with pac files, but of course we can't supply that in config.json...unless you know differently?

So hardcoding a proxy in config.json kind of means having to reconfigure docker every sin

[2021-11-02 10:22] shockogit commented on #5686
Can you post the contents of your config file?

[2021-11-02 10:34] chrmarti opened #5811 "Cannot open local folder after failing to build dev container"
@aeschli @bpasero The `"vscode.openFolder"` command appears to have stopped working when the building of a dev container failed. We offer to open the folder locally in that case, but that no longer works.

The console shows:
[code]

[2021-11-02 10:34] nbraun-wolf commented on #5806
Yes, setting it in .profile has done the trick. Thank you. Maybe worth documenting that somehow.

[2021-11-02 10:56] aeschli commented on #5811
The log comes from not being able to resolve. I get the same when trying tring to reprodcusing with the test resolver"

- run out of sources
- add at https://github.com/microsoft/vscode/blob/3ed654b8e8d0310e0fcdd4a08ef12d873c73816a/extensions/vscode-test-resolver/src/extension.ts#L353
[code]
- run and in the OSS Dev window set `testresolver.startupError`
- open a TestResolver window
- resolving fa

[2021-11-02 12:25] mrmachine commented on #1409
We have been bitten in the past when initially switching to buildkit. It was a long time ago now, but IIRC perhaps more a case of our misconfiguring build mounts for cache than a regression with buildkit itself, but I think the potential is there.

I am personally happy with buildkit, and came here looking for a way to enable buildkit.

But, if Docker can be configured to use two completely differ

[2021-11-02 12:34] mrmachine commented on #5808
Yep. I know about that limitation when merging compose files.

But I am testing with the same `devcontainer.json` and `docker-compose.yml` in Codespaces and `Clone Repository in Container Volume`, and the docs say `Codespaces ignores "bind" mounts...`

I don't seem to get this bind mount failure on Codespaces. How does Codespaces "ignore" bind mounts? Can `Clone Repository in Container Volume` do

[2021-11-02 12:50] mrmachine commented on #5804
I don't have any concrete experience with Compose v2, except for that mentioned in this issue.

Last I read about it, Compose v2 was still not GA, not the default, no "standard" way to install on Linux, and only supported "most" of the v1 features and flags.

Re-reading the compatibility docs page now, there does not appear to be any significant omissions listed. But as seen here, and based on pas

[2021-11-02 12:53] rednevals commented on #3454
WSL seems to be running. I tried keeping a separate WSL shell open and it is not effected when this occurs.

I have code in my ~/.bashrc to ensure Docker and MiniKube are running. Recently I pulled the logic out into separate files that it now loads. I added a y/n prompt which does pause for the answer, but it is only ~1 second for me to answer the prompts:

For example:
[code]

For now I have dis

[2021-11-02 13:23] thechargedneutron commented on #5755
Honestly, I think there should be at least this level of robustness to keep the session alive for cases when the laptop has just gone to sleep. If I set my screen sleep time to 10 minutes the ssh remains active for this long. But if I set my screen sleep to 1 minute the ssh disconnects as soon as the screen goes off even for a few seconds. I appreciate the your efforts in discussing this issue. Th

[2021-11-02 14:13] chrmarti opened #5812 ""Open Folder in WSL" shows "\\wsl$\[object Object]\home\chrmarti\devel\smktst""
Not sure this is new. I then can't correct the path for the input validation to accept it.

[2021-11-02 14:19] #5812 closed

[2021-11-02 14:21] aeschli commented on #5797
Is the folder that is watched a windows mount (`/mnt/c/...`) ?

[2021-11-02 14:52] testforstephen commented on #5797
yes, i just reopen a windows folder in wsl, it's something like `/mnt/c/...`

[2021-11-02 15:36] lucasresck commented on #3096
Is there a workaround for persistent Jupyter Notebooks through SSH connection? After reconnecting to remote, I would like to reconnect to my Jupyter kernel, or at least to keep the notebooks running.

[2021-11-02 15:38] chrisandrewca commented on #5801
CMD: Yes
PowerShell: Yes

Git Bash: No

Command:
ssh <ssh-config-entry>

Reason:
Load key "<PATH>": invalid format
<USER>@<IP>: Permission denied (publickey).

I would like to note that VSCode does successfully connect and install the server. It just doesn't maintain the connection on the second attempt while opening a folder.

[2021-11-02 16:09] ElleshaHackett opened #5813 "New groups are not applied on the Remote-SSH session without rebooting the remote machine"
As far as I can tell these two closed issues (https://github.com/microsoft/vscode-remote-release/issues/1997, https://github.com/microsoft/vscode-remote-release/issues/4058) still apply and this is annoying as hell as it took me a lot of time to figure out that the issue was VScode and not my remote setup. Below steps are 100% reproducable.

- VSCode Version: 1.61.2
- Local OS Version: Windows 10

[2021-11-02 16:55] aeschli commented on #5797
It's a known WSL2 issue that file events on `/mnt/`are not reliable: #5000

[2021-11-02 16:55] #5797 closed

[2021-11-02 17:29] tanhakabir commented on #5686
[code]
Where I created an account on my VM with an `@` sign.

And I received this:
![image](https://user-images.githubusercontent.com/12758612/139915566-ce4a6d4a-3ede-480b-a823-1c4136eb78e2.png)

Is the issue that it wasn't `Enter password for myuser@mydomain.com@myhost.mydomain.com`?

[2021-11-02 17:33] tanhakabir commented on #5801
Just to clarify this means in the first scenario while you have your VPN turned on VS Code is able to connect but then when you want to open a folder it disconnects? Do you see any errors in the logs when that happens?

From the first set of logs I just see that the `Got connection` ping isn't there and I assuming you never saw it?

[2021-11-02 18:19] ryan-efendy commented on #5794
Any update on this @chrmarti @weinand?

[2021-11-02 20:41] rednevals commented on #3454
I was able to rework the Docker/MiniKube startup and some disk mounts in my profile script. This seems to have eliminated my issue. Seems that the prompting and sudo password prompts were getting in the way.

[2021-11-02 22:44] #5562 closed

[2021-11-02 22:45] #3487 closed

[2021-11-02 22:46] #5532 closed

[2021-11-02 22:54] #2355 closed

[2021-11-02 23:53] #5687 closed

[2021-11-03 00:00] tanhakabir commented on #4694
Hey @DarkPhoenixz! We fixed an issue in the area of https://github.com/microsoft/vscode-remote-release/issues/2355, the fix should be made available in tomorrow's [Remote - SSH Nightly](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh-nightly) extension. I'm wondering if this fixes your connection issues as well?

[2021-11-03 01:31] chrisandrewca commented on #5801
Yes, that sums it up. I'm connected to VPN, I ssh to the server using CMD, delete the .vscode-server folder, then logout. Next, I use the remote SSH extension to connect. I enter my password, it connects and creates the .vscode-server folder. It then prompts me for my password a second time. After entering my password a second time, it shows an error in the UI saying "failed to fetch environment"

[2021-11-03 02:09] kennylbj commented on #5753
Same issue to me, 6cba118ac49a1b88332f312a8f67186f7f3c1643 version still doesn't work.  @telnet01 have you resolved this issue?

[2021-11-03 02:51] roblourens commented on #5813
Does it work if you run the "Kill VS Code Server on Host" command to restart the VS Code server?

[2021-11-03 03:30] roblourens commented on #5807
Are you sure you signed in as the right user?

Do other vscode features work? Can you open terminals or search?

[2021-11-03 03:31] roblourens commented on #5755
We have the ability to test the connection again, but wouldn't it make more sense for the core to do that?

[2021-11-03 03:32] variantf commented on #5733
@bpasero I've upgrade to 1.61.2 and this issue seems disappeared. Thank you for the help. I'll reopen this ticket if I see the same scenario in the futures.

[2021-11-03 04:40] tanhakabir commented on #5801
Hmm I'm not hundred percent sure of the issue but it sounds very similar to this issue: https://github.com/microsoft/vscode/issues/129483#issuecomment-903556506

@alexdima do you have an idea what could be happening here?

[2021-11-03 04:41] tanhakabir commented on #5753
@kennylbj have you tried deleting .vscode-server folder in your remote and trying to connect from the extension again?

And would you also be able to share your logs?

[2021-11-03 04:49] telnet01 commented on #5753
Hello,yes, i installed bash 5.0 and  the problem is gone, but a new problem has appeared[https://github.com/microsoft/vscode/issues/136209#issuecomment-956005309](url)

[2021-11-03 04:56] kennylbj commented on #5753
@tanhakabir I have removed the .vscode-server folder but still didn't work. here is the log
[12:50:53.480] Log Level: 2
[12:50:53.482] remote-ssh@0.66.0
[12:50:53.482] darwin x64
[12:50:53.491] SSH Resolver called for "ssh-remote+[IP]", attempt 1
[12:50:53.491] "remote.SSH.useLocalServer": true
[12:50:53.492] "remote.SSH.path": undefined
[12:50:53.492] "remote.SSH.configFile": undefined
[12:50:53.

[2021-11-03 04:57] kennylbj commented on #5753
@telnet01 thank you for the sharing. what is bash 5.0 and how do you install it? the link you provided is unavailable.

[2021-11-03 05:11] telnet01 commented on #5753
Link edited, i installed bash from source on remote machine where VS code server resides

[2021-11-03 06:36] likan999 opened #5814 ""Remote - SSH" extension 0.66 doesn't respect RemoteCommand in SSH config"
- VSCode Version:  1.61.2
- Local OS Version: OSX 12.0.1
- Remote OS Version: Ubuntu 20.04.3
- Remote Extension/Connection Type: SSH
- Logs:

Steps to Reproduce:

1. Add a host to .ssh/config with section RemoteCommand.
2. Connect to the host using VSCode.
3. One should expect RemoteCommand is used, but it wasn't. Before 0.66, it worked, but now it is not. This completely breaks my workflow.

Does

[2021-11-03 06:49] likan999 commented on #4474
My use case also requires the RemoteCommand. Please support it. AFAIK, it works before 0.66, but now after I upgrade my extension to 0.66, it is no longer respected.

My use case is the RemoteCommand is "toolbox run -T bash", which allows the remote VScode run inside a toolbox. Now 0.66 my workflow is completely broken.

[2021-11-03 07:10] chrmarti commented on #5811
Steps with Remote-Containers:
- Run the command `Remote-Containers: Clone Repository in Container Volume...`
- Enter: https://github.com/chrmarti/smktst-fail-in-dockerfile
- In the eventual modal dialog, press `Open Dockerfile in Recovery Container` or run the command `Remote: Close Remote Connection`.
- Expecting a window reload, but there is an error instead.

[2021-11-03 07:18] chrmarti commented on #5678
Thanks, the bug that you have to pick the container from the QuickPick list after having it picked from the Docker viewlet is tracked with #4405.

[2021-11-03 07:22] chrmarti commented on #4865
@paulfelton It might be difficult for use to work around limitations in Docker. You could file a feature request for Docker for supporting PAC files.

[2021-11-03 07:26] chrmarti commented on #5806
We can take another look into using an interactive login shell. Last time I checked `wsl` was missing the command line options to control the type of shell and only using a pty to run it resulted in an interactive login shell.

[2021-11-03 07:48] chrmarti commented on #1409
I see it enabled in Docker Desktop by default and Alpine's docker-cli and docker-compose packages now also seem to enable it by default (we don't enable it for `Clone Repository in Container Volume` ourselves).

If enabling buildkit does not cause any issues, I would expect everyone to enable it over time since it is faster and comes with additional features. There seems to be some hesitancy towar

[2021-11-03 07:52] chrmarti commented on #5808
@edgonmsft Do you have a way to ignore bind mounts in `docker-compose.yml`s?

[2021-11-03 07:56] bpasero commented on #5811
Here is what happens:
* you click "Open Folder"
* this eventually reaches `[fileDialogService.pickFolderAndOpen](https://github.com/microsoft/vscode/blob/6e5661e423a91ab3afe743cf6ae633200eae781a/src/vs/workbench/services/dialogs/electron-sandbox/fileDialogService.ts#L99)`
* this wants to resolve a good default path to show as initial path for the dialog
* this is using `pathService.userHome` which

[2021-11-03 07:58] chrmarti commented on #5804
I expect Compose v2 to work the same with the various Compose file versions as Compose v1. The CLI versions and the file versions are distinct. If Compose v2 causes issues, I suggest to revert your installation to Compose v1, Remote-Containers will just use the installed version.

[2021-11-03 07:58] bpasero commented on #5811
@chrmarti as a workaround you can set `forceLocalWindow` as option when calling `vscode.openFolder`, that would make sense in this case anyway.

[2021-11-03 08:02] chrmarti commented on #5812
@rzhao271 I don't see a new release of Remote-WSL. Your update to the milestone of this issue might be too early.

[2021-11-03 08:07] chrmarti commented on #5815
This might be difficult to achieve as we need to run the VS Code server in the container to get access to the files. Running a temporary container or accessing the files locally (if they are on the local filesystem) might be an option, but that would need support from VS Code / VS Code server.

[2021-11-03 08:47] jibsaramnim commented on #1333
I ran into this for the first time just now as I'm setting up a new environment using Fedora 35. If you're making use of one of the existing devcontainer configurations or wrote your own that makes use of a `docker-compose.yml` file, you can achieve the same as what's mentioned above here by setting the `:Z` flag on a volume defined there, like so:

[code]

Hopefully a more official solution can b

[2021-11-03 09:18] ElleshaHackett commented on #5813
Running this option **does not** solve it:
![image](https://user-images.githubusercontent.com/5116641/140033505-0b9c295e-f271-4662-84a8-e127779d8bf9.png)

Then running this option "close remote connection" and reconnecting **does not** solve it either:
![image](https://user-images.githubusercontent.com/5116641/140033671-8d2aa558-2fc9-437f-a903-f23b6151cc82.png)

Then closing all VScode locally and

[2021-11-03 09:22] aeschli commented on #5812
Th fix is not yet published...

[2021-11-03 09:30] Hinlavic commented on #5318
It seems to be the same problem. After connecting with VSCODE for a long time, SSH will be automatically disconnected and cannot be connected again, even if VSCODE REMOTE is not used, but a separate SSH command is used.

[2021-11-03 09:36] ElleshaHackett opened #5816 "The "Kill VS Code Server on Host" command does not work for hostnames containing spaces"
VSCode Version: 1.61.2
Local OS Version: Windows 10 21H1
Remote OS Version: Ubuntu 20.04.3 LTS
Remote Extension/Connection Type: Visual Studio Code Remote - SSH extension (https://code.visualstudio.com/docs/remote/ssh)
Logs: n/a

**Steps to Reproduce** are described in detail in this answer: https://github.com/microsoft/vscode-remote-release/issues/5813#issuecomment-958770528

However manually kil

[2021-11-03 09:37] Hinlavic commented on #5318
It seems to be a similar problem. After connecting with VSCODE for a long time, SSH will be automatically disconnected and cannot be connected again, even if VSCODE REMOTE is not used, but a separate SSH command is used. The system seems to have crashed, and the restart still cannot be changed.

[2021-11-03 10:23] chrmarti commented on #5811
@bpasero I assume `forceLocalWindow` will not work when the URI is for opening a recovery container (which is a remote window).

[2021-11-03 10:24] #5763 closed

[2021-11-03 10:30] bpasero commented on #5811
Yeah it will only allow to pick local (on the local computer) folders.

[2021-11-03 10:34] shockogit commented on #5686
This seems to ebbe be resolved in the latest version released yesterday: https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh&ssr=false#version-history. Trying to find what;s been fixed in this release

[2021-11-03 10:52] chrmarti commented on #5812
Verified in 0.58.5. 👍

[2021-11-03 10:54] chrmarti commented on #5811
Adding @alexdima, this seems like a recent regression.

[2021-11-03 11:02] Hinlavic commented on #5318
It is a similar problem. After connecting with VSCODE for a long time, SSH will be automatically disconnected and cannot be connected again, even if VSCODE REMOTE is not used, but a separate SSH command is used. The system seems to crash, and the restart still cannot be changed. It is related to the extension of VSCODE DOCKER, because deleting all containers or disabling the DOCKER extension (not

[2021-11-03 11:08] jonashaag commented on #5603
Yes, I can reproduce with that. Here, `/tmp/xxx.tar` is an archive that contains a file `xxx` that has uid=gid=0, and my user also has uid=gid=0, but the filesystem automatically changes the uid and gid.

[code]

[code]

[2021-11-03 11:22] Hinlavic commented on #5493
Do you use the VSCODE DOCKER extension? Disabling this extension is likely to solve your problem.

[2021-11-03 12:23] Cecilia-Sensalari commented on #5794
Hi, I have the same problem when opening VSC in remote through SSH. Killing the processes and deleting `.vscode-server` did not solve the issue.

[2021-11-03 12:35] jaweed-khan opened #5817 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `remote-containers`
- Extension Version: `0.202.5`
- OS Version: `Linux x64 5.11.0-38-generic`
- VS Code version: `1.61.2`

:warning: Make sure to **attach** this file from your *home*-directory:
:warning:`/tmp/ms-vscode-remote.remote-containers-unresponsive.cpuprofile.txt`

Find more details here: https://github.com/microsoft/vscode/wiki/Explain-exten

[2021-11-03 13:31] alexdima commented on #5811
Did someone already do a blame search to identify the commit that introduced this regression?

[2021-11-03 13:44] weinand commented on #5794
I'm investigating...

[2021-11-03 13:59] aeschli commented on #5811
The `Close Remote Connection` fails due to a veto from terminal. Exception thrown while serializing the terminal:
https://github.com/microsoft/vscode/blob/main/src/vs/workbench/contrib/terminal/electron-sandbox/localTerminalService.ts#L143

[2021-11-03 14:30] alexdima commented on #5811
@aeschli Thank you for figuring that out! Is that also the root cause for `vscode.openFolder` not working? The terminal veto?

[2021-11-03 14:32] vitormhenrique commented on #5439
@roblourens have you tried using a brand new server that you never vm (Ubuntu 20.04 LTS on my case)

Setting up only key authentication and it just works for you?

on my remote server i have zsh installed and running as the default terminal.

[2021-11-03 15:46] alexdima commented on #5801
Here's how it normally works:
* the SSH extension connects via SSH to the remote machine
* it installs `vscode-server` and then launches it
* it then creates a SSH tunnel for the server port from the remote machine to the local machine
* it then gives to VS Code's core the port at which the SSH tunnel is ready

It appears that we are unable to connect to the port returned by the SSH extension. My

[2021-11-03 15:57] alexdima commented on #5755
Doing that in all cases means that in many cases we would waste around 30s (the timeout we have) trying to connect to a possibly broken resolver port. So we always just invoke the resolver which can trivially return the same port if it so wishes.

e.g. of what you could do in the SSH resolver (if you want to):

[code]

The core calling the resolver gives the most freedom. Resolvers that know that

[2021-11-03 16:10] edgonmsft commented on #5808
In docker-compose we don't today, its a much more hands-off scenario.

[2021-11-03 16:40] tanhakabir commented on #5686
We don't exactly have a CHANGELOG for the SSH extension but these were the bugs that were fixed in the last release: https://github.com/microsoft/vscode-remote-release/issues?q=is%3Aissue+milestone%3A%22October+2021%22+is%3Aclosed+label%3Assh

If the problem is solved I'll close this issue! Let me know if it isn't resolved for you

[2021-11-03 16:40] #5686 closed

[2021-11-03 16:45] roblourens commented on #5755
If we reuse the port, and it turns out to be stuck, will vscode spend 30s trying to connect to it? Because that will happen sometimes. The resolver can also ping the server through the port with a shorter timeout.

[2021-11-03 16:48] Wikiwix opened #5821 "stdio files have .txt ending for WSL which hinders language autodetect"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: Version:
  1.61.2 (user setup)
  Commit: 6cba118ac49a1b88332f312a8f67186f7f3c1643
  Date: 2021-10-19T14:57:20.575Z
  Electron: 13.5.1
  Chrome: 91.0.4472.164
  Node.js: 14.16.0
  V8: 9.1.269.39-electron.0
  OS: Windows_NT x64 10.0.19043
- OS Version: Windows 10 21H1 with WSL running Ubuntu Ubuntu 20.04.3 LTS

Steps to

[2021-11-03 16:50] alexdima commented on #5755
:+1: Yes, that is exactly the point I was trying to make. When the core tries to reconnect to a `host:port` provided by the resolver, it sets a 30s timeout. If the timeout fires without the connection succeeding, it goes again to the resolver to resolve again and so on...

[2021-11-03 16:52] tanhakabir commented on #5814
Hey @likan999 thanks for letting us know quickly. What does your config look like? And just as a sanity check are you able to connect to your host through terminal?

[2021-11-03 16:56] alexdima commented on #3454
@rednevals We read the shell env by launching bash when we spawn the remote extension host. We would like to support that you setting an env variable in `~/.bashrc` is made available to extensions running on the remote extension host in WSL, so adding prompts there could definitely cause problems. But AFAIK we would continue even without those prompts being answered.

Can you please clarify, after

[2021-11-03 18:58] roblourens commented on #5801
Is it possible that your VPN is blocking tcp port forwarding?

[2021-11-03 18:59] rednevals commented on #3454
So far, VSCode has not lost the connection since I implemented the changes...

[2021-11-03 19:06] roblourens commented on #5755
@tanhakabir I've been wanting to do an optimization like this. We can ping the `/delay-shutdown` endpoint on the previous resolved port to check whether it's still responding, similar to what the install script does. If it responds, we can reuse the port. But if the resolver is invoked again within a short amount of time we would assume it's not healthy and open a new connection.

[2021-11-03 19:20] stefanfritsch opened #5818 "Remote ssh hangs indefinitely when trying to open a folder if the terminal is not wide enough"
- VSCode Version: 1.61.2
- Local OS Version: Windows 10
- Remote OS Version: Ubuntu 20.04
- Remote Extension/Connection Type: SSH
- Logs:

## Steps to Reproduce:

1. Move the terminal pane to the left and narrow it so it's only about 40 chars wide
1. Open remote folder with ssh
2. Wait indefinitely at "setting up ssh tunnel"
3. Widen the terminal pane
4. Success

**OR**

1. Move the terminal pane

[2021-11-03 20:20] tanhakabir commented on #5818
Huh this is strange. Thanks for submitting!

Would you be also able to grab the Remote-SSH logs on the output tab and post them here?

@Tyriar or @sbatten do either you have any idea why the size and position of the terminal window would effect the connection?

[2021-11-03 20:54] deeprobin opened #5819 "Dev Container: onCreateCommand failed"
See https://github.com/dotnet/runtime/issues/60807

[2021-11-03 21:13] roblourens commented on #1386
I guess I'm not sure exactly which port is needed to be customized

1. We use `ssh -D` to do dynamic port forwarding with some random port on the client
2. We ssh to your host, and start our server, which picks a random port to listen on locally
3. We open a connection via SOCKS from some random local port to the port the server is listening on

Is it just the port that the server is listening to

[2021-11-03 21:51] stefanfritsch commented on #5818
The log is below.

Another tidbit: Resizing the output tab doesn't work, you have to have the terminal selected.

I.e. I just switched to the output tab to copy the log below and then resized to get the connection going. That didn't work and I was confused until I remembered to switch back to the terminal. As soon as I'd opened the terminal tab, it resized its content and the connection was establ

[2021-11-03 23:20] tanhakabir commented on #5760
Hm I'm struggling to reproduce this. Would you be able to try on VS Code Insiders and see if you still see this issue?

[2021-11-03 23:27] tanhakabir commented on #5449
I can't seem to reproduce this on the latest version of the extension. @tekumara do you still see this issue?

[2021-11-03 23:39] roblourens commented on #5816
Can you try running that command and sharing the log from the Remote-SSH output channel? The command we are running is essentially the same as yours.

[2021-11-03 23:44] roblourens commented on #5813
I replied in the other thread, but that command should have the same effect as what you run. But yes, you have to restart the server to pick up changes to the environment like this.

Any suggestion for making this more obvious?

[2021-11-03 23:47] roblourens commented on #5799
You shared one line of the log, I want the rest of the same one :) It's the Remote-SSH output channel

And what I mean is, our script is running a `ps` command piped into the other processes which show in your comment. The command we run is

`ps ax | grep /<homedir>/.vscode-server/bin/6cba118ac49a1b88332f312a8f67186f7f3c1643/server.sh | grep -v grep | wc -l | tr -d [:space:]`

I don't know whether

[2021-11-03 23:56] alu0100990539 opened #5820 "Conexion SSH"
Buenas,

Estoy intentando conectarme con Visual Studio Code a mi cuenta en IONOS y no entiendo porque no me funciona.

Mediante Filezilla puedo ver que al intentar la conexión, después de que Visual Studio Code me preguntara el tipo de servidor (linux) y el password, en el servior se crea la carpeta .vscode-server

Y esta es la salida/debug que ofrece Visual Studio Code al intentar conectarse:
[co

[2021-11-04 02:32] #5537 closed

[2021-11-04 02:56] umdstu commented on #1386
When I originally created this issue, it was to address the fact that our virtual machines where code was hosted defaults to DENY ALL ports. Being unable to specify the random port that it used for communicating back out to the vscode app on the desktop meant that I had to blanket open ports ~20000 to 65535, which was a security issue. I'm having a brain fart and can't figure out which of your 3 o

[2021-11-04 06:38] tothedistance commented on #5802
[code]
I am able to ssh in with powershell, powershell 7, cmd, windows terminal conda profile(ps7), windows terminal wsl.
I am not able to ssh in with powershell7 in integrated terminal.
`ssh.exe": Could not resolve hostname ai1: no address associated with name`

[2021-11-04 06:48] gyzerok commented on #1386
When I was creating similar issue before closing it in favor of this one, I meant 2.

In our env only selective ports on the remote are open, so port forwarding won't work with just random port.

[2021-11-04 06:55] ilyalesokhin-starkware commented on #5697
I'm opening vscode from quick lunch which does:
/usr/share/code/code --unity-launch

the docker is opened automatically by the extension.

[2021-11-04 07:07] tothedistance commented on #5802
all of a sudden, i can ssh in with the extension version revert to 0.65.8, i guess the revert need some time to take effect.

[2021-11-04 07:15] Bclrk2021 commented on #5802
@tothedistance  thank you I do not know how I didn't notice the resolve error I chose I.P instead of the hostname and it worked. Need to figure out why my DNS was not working correctly

[2021-11-04 07:21] Bclrk2021 commented on #5802
I fatfingered my credential a few times but @tothedistance  pointed out my DNS was not resolving.

[2021-11-04 07:39] chrmarti commented on #5697
Adding more logging to track this down.

[2021-11-04 07:54] tothedistance commented on #5802
I upgraded to 0.66.0. and still works now. have no idea why. maybe I didn't close my computer for too long and I did a reboot this afternoon. sorry to bother you.

[2021-11-04 07:58] aeschli commented on #5811
I just tested that fixing the terminal veto also fixes the `vscode.openFolder` scenario.

We can close this one as dup of https://github.com/microsoft/vscode/issues/136358

[2021-11-04 08:02] aeschli commented on #5811
@bpasero Your steps might point to a different bug

[2021-11-04 08:11] tanhakabir commented on #5802
No worries @tothedistance! Happy both you got it working in the end!

@Bclrk2021 I'll close this issue for now since it seems like a DNS issue but let me know if you end up connecting through PowerShell but not VS Code

[2021-11-04 08:11] #5802 closed

[2021-11-04 08:32] alexdima commented on #5811
@aeschli What steps should we try? I have tried with the steps @bpasero points to in https://github.com/microsoft/vscode-remote-release/issues/5811#issuecomment-958721369 , i.e. with the steps at https://github.com/microsoft/vscode-remote-release/issues/5811#issuecomment-957330567 but I cannot reproduce any hang, things appear to be in order.

[2021-11-04 08:32] chrisandrewca commented on #5801
Probably, I just learned I also cannot use local debugging (attach node) when connected to VPN...whelp...

I will attach the logs asked for tomorrow but it seems I'll have to explore some other type of solution?

[2021-11-04 08:36] bpasero commented on #5811
Slight adjustment, the action needs to be:

[code]

[2021-11-04 08:59] alexdima commented on #5811
Thank you for the extra info @bpasero . I can reproduce. I have added more logging on my side before calling the resolver and after it returns a value or throws an error.

@aeschli In this case, I can see that the resolver never returns, so this is why `remoteAgentService.getEnvironment` never completes:

I would expect to see a log statement e.g. `resolveAuthority(test) returned an error`

[code]

[2021-11-04 10:36] GamfaleanuVlad commented on #3248
Is there a way to get that directory without having a second raspberry pi? I have just one. Could I use WSL to generate that folder and transfer it to my Pi? Or is there any link for it?

[2021-11-04 10:37] aeschli commented on #5811
@chrmarti Just confirmed me that he is using `executeCommand('vscode.openFolder', uri)` which does not involve a dialog. I tested that a fix for https://github.com/microsoft/vscode/issues/136358 will fix his issue.

That leaves us with `vscode.commands.executeCommand('vscode.openFolder')` found by @bpasero.
Not sure if that ever worked. I created https://github.com/microsoft/vscode/issues/136425

[2021-11-04 10:37] #5811 closed

[2021-11-04 11:05] #5821 closed

[2021-11-04 11:06] aeschli commented on #5821
Fix is in the upcoming version of the Remote-WSL extension (`0.58.6`)

[2021-11-04 11:51] ynot729 commented on #2578
bump. It's very helpful for error messages to be able to click on the file and line.

[2021-11-04 12:34] #5584 closed

[2021-11-04 12:34] #5390 closed

[2021-11-04 12:54] chuckds commented on #5799
Oh that is interesting thanks. Can I ask; does the code do anything to "generate" the above command invocation? e.g. does it try and find the right version of ps to run or anything like that? Or is it just hardcoded?

If I run that command directly from my terminal on the server I get the expected result; stdout of "0" and 0 rc.
From the ps forest output I provided it looks like instead of that co

[2021-11-04 13:07] woodwm opened #5822 "remote-SSH stuck at Acquiring lock on a file"
- VSCode Version: 1.61.2
- Local OS Version: Windows 10 20H2
- Remote OS Version: Ubuntu 20.4
- Remote Extension/Connection Type: SSH
- Logs:

[code]

The file that it tries to lock is an empty file. I tried deleting it, but this does not work.

Steps to Reproduce:

1.
2.

Does this issue occur when you try this locally?: Yes/No
Does this issue occur when you try this locally and all extensions ar

[2021-11-04 13:51] Tyriar commented on #5818
@roblourens any idea what would fail here? Looks like it was successful based on the log:

[code]

[2021-11-04 14:12] max06 opened #5823 "DevContainers: Profile persistence"
Something to share for your docs. It took me way too much time to figure out how to persist the user profile in a devcontainer in a generic way, might save some time for others...

[code]

Creates a named volume `profile` mounted to `/root`. Survives a rebuild.
Creates an anonymous volume mounted to `/root/.vscode-server`. Gets destroyed on rebuild, which allows vscode to reinstall the extensions

[2021-11-04 15:13] alexdima commented on #5801
@chrisandrewca Thank you for following through. Unfortunately, there is nothing we can do to workaround the problem, we need the ability to connect to `127.0.0.1:PORT` in order for vscode remote to work. I suggest to reach out to the support channels of the VPN software and ask for help with them.

[2021-11-04 15:13] #5801 closed

[2021-11-04 15:42] weinand commented on #5794
The empty "Run and Debug" is an indication that no debugger extension is available in the dev container. Since VS Code comes with the built-in debugger "js-debug", this situation should not really occur...
Could it be that your "js-debug" is disabled?
Please open the Extensions viewlet and enter "js-debug" in the filter box.
A grayed-out JavaScript Debugger is disabled. Please enable it...

<img w

[2021-11-04 15:44] #5776 closed

[2021-11-04 16:00] Cecilia-Sensalari commented on #5794
Hi,
Thanks a lot for looking into this!
The extension is already enabled:
![image](https://user-images.githubusercontent.com/57489957/140373851-977deb9f-c83c-4f44-bfe9-d46d4032d32d.png)
I discovered that my VS code is not detecting an interpreter (in my case Python), could it be that this is causing problems in setting up the debug interface?

[2021-11-04 16:13] weinand commented on #5794
@Cecilia-Sensalari I don't think so. VS Code does not know anything about interpreters. So a missing Python interpreter is not detected by VS Code. Only the Python extension would be able to detect this...

But is the Python extension(s) correctly enabled in the dev container?
They should show up in the "DEV CONTAINER ... INSTALLED" section:

<img width="525" alt="2021-11-04_17-10-40" src="https:/

[2021-11-04 16:51] tanhakabir commented on #5820
Hello! I don't know spanish very well so I don't understand the context but I understand your logs. Looks like `channel 3: open failed: administratively prohibited: open failed` is the issue. I've seen this happen if your remote server doesn't allow TCP forwarding. Are you able to verify your server allows TCP forwarding?

[2021-11-04 16:54] tanhakabir commented on #5822
Hey! Hm would you be able to delete `.vscode-server` on your remote and try connecting again through the extension?

[2021-11-04 17:29] #1929 closed

[2021-11-04 17:33] #5684 closed

[2021-11-04 18:08] tanhakabir commented on #1836
Duplicate of https://github.com/microsoft/vscode-remote-release/issues/472

[2021-11-04 18:08] #1836 closed

[2021-11-04 18:53] scalavision opened #5831 "pass the uid, username and gid, groupname as arguments when building devcontainer if updateRemoteUserUID is enabled."
Make it possible to extract uid,username and gid, groupname when building the Dockerfile, i.e. these
variables would be available:

[code]

If `updateRemoteUserUID`, is enabled.

It simplifies the ownership of internal folders and files to match the same as the user on the host system.

[2021-11-04 19:51] AG-LC commented on #5760
I just tried again and it works now, on VSCode 1.62.0 as well as Insiders. Thanks for looking into it :)

[2021-11-04 19:53] a-gn commented on #5760
I just tried again and it works now, on VSCode 1.62.0 as well as Insiders. Thanks for looking into it :)

[2021-11-04 19:53] #5760 closed

[2021-11-04 21:07] FlorianPfaff opened #5824 "Cannot enter OTP before login"
Hi,

the SSH plugin is definitely great! However, maybe my use case has not come up yet in its tests: I am trying to log in on a server that requires OTPs (one time passwords) to be entered *before* one can enter the actual user password. Sometimes, I can enter it in the "terminal" tab - and sometimes, the prompt only shows up in my log and I cannot type in anything. This is shown in the screensho

[2021-11-04 21:26] tanhakabir commented on #5824
Hey! Have you tried have `remote.SSH.showLoginTerminal` enabled?

![image](https://user-images.githubusercontent.com/12758612/140422473-70bb6367-ad9e-42d8-87d7-dbb219c92f3f.png)

[2021-11-04 22:16] FlorianPfaff commented on #5824
Thank you, this resolved the issue. In case any changes are considered to improve the support here and making it supported without this checkbox, I think I discovered some helpful pattern before I read your message. Without this checkbox, one obviously needs to click on "details" while connecting to see the terminal tab. The problem that I cannot type in anything seemed to _not_ occur when I waite

[2021-11-04 22:21] tanhakabir commented on #5824
Thanks for looking into it! We actually made this setting just to fix OTP connections so unfortunately we can't do anything more than this setting.

[2021-11-04 22:21] #5824 closed

[2021-11-04 23:25] bamurtaugh commented on #5779
Thanks again @fyyyyy! This change has been merged in https://github.com/microsoft/vscode-docs/pull/4920, so going to close this issue.

[2021-11-04 23:25] #5779 closed

[2021-11-05 00:51] FlorianPfaff commented on #1722
I guess I have a tricky situation in which the compute and login nodes cannot communicate via ports. Running jobs is feasible, but getting the debugger to work isn't because the server and the job need to run on the same machine. Does anybody have a similar setup? In theory, it does not sound soo super difficult. vscode would have to ssh onto the login node. Then, before starting the server, obtai

[2021-11-05 02:10] tianxilan-pony commented on #5390
Thanks @aeschli , lasted insiders seems resolved this problem.

[2021-11-05 02:45] ryan-efendy commented on #5794
Thanks @weinand yea in my case I had disabled the built-in debugger "js-debug" and instead installed below:

![image](https://user-images.githubusercontent.com/12979345/140449631-888f6596-65ce-4e73-9605-39a1e3c2c15a.png)

[2021-11-05 04:25] kennylbj commented on #5753
Looks like it is my connection issue, resolved by using a "jump box" server.

[2021-11-05 07:38] samfux84 commented on #1722
@FlorianPfaff : Can you ssh from a compute node directly to your computer (bypassing the login nodes)? For this you would need to run an SSH server on your computer and change your firewall to allow connections from the IP range of the compute nodes. Then you could maybe create a tunnel from the compute node directly to your local computer and use the solution with the code-server.

For our cluste

[2021-11-05 09:18] allinws opened #5825 "Using Git commands in VSCode returns Git: git@github.com: Permission denied (publickey)."
I have a Linux machine I'm connected to and running VSCode in trough the Remote extension (Locally I'm on a Mac). Things work fine when running Git trough the terminal, but as soon as I'm trying to do any commands trough the VSCode cmd+shift+p panel I get the error  Git: git@github.com: Permission denied (publickey).

I've created a config file in my .ssh directory with the following content:

hos

[2021-11-05 09:38] guillemglez commented on #4339
A quick (partial) fix for this could be supporting multiple files in configuration value `remote.SSH.configFile`.

[2021-11-05 10:42] ElleshaHackett commented on #5816
@roblourens I suppose the label "needs more info" can be removed from both issues as I think I supplied all details steps and info needed to reproduce this. Below you find the requested log (anonymized) if I run that action.

[code]

[2021-11-05 12:17] aaronadamsCA commented on #5767
I'm sorry I was unable to get to this prior to your 1.62 release, our team was focused on a release of our own.

I've upgraded to 1.62, deleted every container image and volume, and started from scratch.

On first build, here are the long-lived processes I see running in the container:

[code]

Identical processes 312 and 603 are the ones we have seen cause the memory leak when they start to dupli

[2021-11-05 13:07] woodwm commented on #5822
Hi, I tried deleting the folder `.vscode-server`,  and the problem is the same. I have no problem to connect to the server using the same ssh configuration.

[2021-11-05 13:35] aaronadamsCA commented on #5767
Okay, I managed to trigger the leak just now, on a relatively small scale.

I ran `gatsby develop` a few times (using the Explorer > NPM Scripts pane), each time for just a minute or two, then terminating with `Ctrl+C`.

After this, I checked and noticed an extra forwarding process had survived.

Checking several times over the course of the next minute, here's exactly what I saw:

[code]

This in

[2021-11-05 15:02] #5753 closed

[2021-11-05 15:43] tanhakabir commented on #5822
Do you mean you've tried connecting with powershell or another shell?

@roblourens have you seen issues in the past with acquiring locks in the remote?

[2021-11-05 16:14] woodwm commented on #5822
Yes, both powershell and git bash works.

[2021-11-05 16:56] AngellusMortis commented on #1409
Using `docker-compose` 2.0 or newer solved this for me. It looks like `docker-compose` uses Buildkit by default if it is enabled in your docker engine settings.

[2021-11-05 19:52] shribe opened #5836 "tasks.json via remote container, env vars not passed"
Issue Type: <b>Bug</b>

Running VS code on a Mac, using a remote dev container. In the remote terminal I export some vars. The application defined in launch.json "inherits" these env vars, while the shell task defined in tasks.json does not. (The context is that I have a username/password to a third-party thing, which I do not want to push into a shared repo.)

I note that env vars defined in the

[2021-11-05 19:52] j2udevelopment opened #5846 "Add support for automated extension configuration"
Huge fan of everything you guys are doing :)
It would be awesome if there was a means of automatically importing custom extension config without needing to copy paste code.

We already have the ability to define settings.json files per user and per workspace which is amazing, but if an extension has their own config file, I haven't been able to find a clean way of automatically importing that conf

[2021-11-05 20:51] FlorianPfaff commented on #1722
Oh. My. God. This is the solution. Thank you so much! Maybe I skipped the part about code-server because I did not expect it to be that great. It is incredible.
Your advice was perfect. Sadly, I was not able to directly reverse tunnel into my own computer because the network is subdivided, and the cluster cannot connect to my subnet. But I could solve this by combining some tunnels. If anyone is i

[2021-11-05 23:26] #2687 closed

[2021-11-05 23:26] #2759 closed

[2021-11-05 23:30] #5791 closed

[2021-11-06 08:12] VikramAIS commented on #5788
Is there any possibility to run the code command from postStart/Create command?

I have requirement where open the devcontainer, then immediately open the new folder from devcontainer.

Thanks,
Vikram

[2021-11-06 11:57] yoyoyoohh opened #5826 "can not connect to remote server of computing center"
For a computing center using Slurm system, which split ssh and sftp services into 2 server (and 2 ip address), I can use command-line ssh to login both servers, but can not connect either one server use VSCode

- VSCode Version: 1.61.2
- Local OS Version: Windows_NT x64 10.0.19043
- Remote OS Version: CentOS Linux 7 (Core)
- Remote Extension/Connection Type: SSH
- Logs:

[code]

Steps to Reproduce

[2021-11-06 12:31] #5488 closed

[2021-11-06 14:35] meepen commented on #2355
hi, i've installed vscode insiders and remote ssh nightly but it seems this hasn't been fixed.

netstat -plnt shows that it is only listening on ipv4:
[code]

[2021-11-06 17:56] sebirdman opened #5827 "podman support in macOS"
Similar to #116

when trying to follow the steps for linux, i get a version check for docker desktop on my mac. podman now works pretty well with qemu.

[2021-11-06 19:06] scalavision opened #5835 "devcontainer: exported variables from custom initializationCommand are empty when referenced as localEnv"
Does this issue occur when all extensions are disabled?: This needs devcontainer extension

- VS Code Version: 1.61.2
- OS Version: NixOS 21.05

Steps to Reproduce:

1. create a myenv.sh script containing

[code]

2. in .devcontainer.json

[code]

When building the container, the build.arg `MY_VAR` is empty, but it would expected that it inherited
the exported value from sourcing the myenv.sh scri

[2021-11-06 19:29] gitfool opened #5839 "Add docker build pull option to devcontainer properties"
It would be nice to be able to configure [devcontainer.json properties](https://code.visualstudio.com/docs/remote/devcontainerjson-reference#_devcontainerjson-properties) to pass the [`docker build --pull`](https://docs.docker.com/engine/reference/commandline/build/#options) option to "always attempt to pull a newer version of the image" for scenarios where the `Dockerfile` does not specify an ima

[2021-11-06 19:30] tanhakabir commented on #2355
@meepen what does your config look like?

[2021-11-07 06:13] sebirdman commented on #5827
welp i was wrong, just needed to restart vscode

[2021-11-07 06:13] #5827 closed

[2021-11-07 10:33] tbessenreither opened #5838 "PHP & Maria DB Image has no write access"
Issue Type: <b>Bug</b>

When i clone any repository into a named Container Volume using the PHP & Maria DB Template i have no write access to the files or folders.
I made no changes to the devcontainer, everything i did was going through the vscode setup process.

remote://dev-container+7b227265706f7369746f727950617468223a2268747470733a2f2f6769746875622e636f6d2f77656270726f6a616767742d676d62682f70

[2021-11-07 12:19] meepen commented on #2355
.ssh/config
[code]

If I may make a suggestion, maybe just using `localhost` instead of `::1` or `127.0.0.1` will do the trick?

[2021-11-07 13:11] meepen commented on #2355
also to note: the domain isn't actually mine, it's in /etc/hosts

[2021-11-07 16:17] shah commented on #5331
@aeschli we used 1.62 and your guidance above worked like a charm. Thanks!

[2021-11-07 17:26] likan999 commented on #5814
My use case is to SSH into remote server and immediately enter [toolbox](https://github.com/containers/toolbox), so the config is
[code]

By ssh to this host, it automatically enters the toolbox, which has all necessary development tools. In previous version 0.65.8, it works perfectly; now it ignores the RemoteCommand directive in ssh config.

I looked a little deeper into the cryptic extension.js

[2021-11-07 17:59] hcyang99 commented on #5750
I am using [cdr/code-server](https://github.com/cdr/code-server) for now, does pretty much the same thing. Just that you need to deploy the code-server onto your remote machine. Not all extensions are available, but there are more than [vscode.dev](vscode.dev).

[2021-11-07 20:59] kieferrm opened #5828 "Remote: Iteration Plan for November 2021"
This plan captures our work in **November**. We follow the same iteration cycle as [VS Code](https://github.com/microsoft/vscode/issues/136630). Although we plan for a whole iteration, we may not only ship at the end of an iteration but throughout.

## Plan Items

Below is a summary of the top level plan items.

<details>
<summary>Legend of annotations</summary>

| Mark                 | Descripti

[2021-11-08 02:35] dataubc commented on #5826
Same here

[2021-11-08 07:01] ineffyble commented on #5190
I encountered this issue. The solution was to upgrade PowerShell from 5.0 (default for Server 2012) to 5.1.

[2021-11-08 07:52] ZhongLiMo opened #5829 "远程目录显示不完整"
Issue Type: <b>Bug</b>

在某一次可能是因为远程服务器磁盘不足导致最近连接过的目录显示不完整，后扩容了磁盘，这里的目录显示仍不完整。
比如最近访问过/data/src，这里只显示src，正常的时候应该显示/data/src的

Extension version: 0.66.0
VS Code version: Code 1.62.0 (b3318bc0524af3d74034b8bb8a64df0ccf35549a, 2021-11-03T15:23:01.379Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No
Remote OS version: Linux x64 3.10.107-1-tlinux2_kvm_guest-0049

<details>
<summary>System Inf

[2021-11-08 08:19] chrmarti commented on #5774
Makes sense. As a side-note: When using a folder inside a WSL distro we use that distro to run the Docker / Compose CLIs (actually have to because that folder is usually not available in other distros).

[2021-11-08 10:03] Adam-Antios opened #5830 "Can't connect to a Windows 10 host from a Linux machine through SSH over VPN"
I am trying to connect to a Windows 10 host from a Linux machine (Ubuntu 20.04.3) through SSH over VPN using the Remote-SSH extension but I get the following log while the remote connection does not get established but gets stuck at loading:

    [11:17:36.465] Log Level: 2
    [11:17:36.467] remote-ssh@0.66.0
    [11:17:36.467] linux x64
    [11:17:36.469] SSH Resolver called for "ssh-remote+192.

[2021-11-08 10:24] chrmarti commented on #5767
Going by the count of some of the log messages, it looks like the Docker CLI's process (docker exec) terminates while the process inside the container keeps running. I'll have to investigate if there is a way to detect that to verify this is true.

[2021-11-08 12:33] #5805 closed

[2021-11-08 12:33] #5796 closed

[2021-11-08 12:33] #5757 closed, assigned to sandy081

[2021-11-08 12:44] chrmarti commented on #5788
@VikramAIS It is the same for the other commands in the devcontainer.json. (VS Code might not have connected to the container when they run.)

[2021-11-08 12:58] chrmarti commented on #5831
UID and GID are updated after your Dockerfile is built, so you can assume they are not changed yet while that runs.

Would you want username and group name in the container to be updated to your local account?

[2021-11-08 13:14] chrmarti commented on #5809
Could you try with a new volume? We update the owner only once after cloning the repository.

[2021-11-08 13:30] #5810 closed

[2021-11-08 13:31] chrmarti commented on #5817
@jaweed-khan Could ypu attach the file mentioned above?

[2021-11-08 13:45] chrmarti commented on #5819
Could you attach a log from when it works on first try? It looks like the `dotnet` executable is either not installed yet or not on the PATH yet.

[2021-11-08 13:48] #5829 closed

[2021-11-08 14:52] matzuu opened #5832 "Remote SSH: The VS Code Server failed to start"
- VSCode Version: 1.62.0
- Local OS Version: Windows 10 , 10.0.19042
- Remote OS Version: Linux Ubuntu 20.04.2 LTS
- Remote Extension/Connection Type: SSH
- Logs:
`
[15:36:40.271] Log Level: 2
[15:36:40.277] remote-ssh@0.66.0
[15:36:40.277] win32 x64
[15:36:40.278] SSH Resolver called for "ssh-remote+143.205.173.100", attempt 1
[15:36:40.279] "remote.SSH.useLocalServer": false
[15:36:40.280] "remo

[2021-11-08 14:59] B1ll7 opened #5833 "extension remote WSL"
Issue Type: <b>Bug</b>

Pour une raison que j'ignore je n'arrive pas à ajouter l'extension WSL, lorsque je lance le serveur local, j'ai une erreur en ligne et ce même avec un projet par defaut reactJS ou Symfony

[2021-11-08 11:49:20.254] Windows build: 22000. Multi distro support: available. WSL path support: enabled
[2021-11-08 11:49:20.254] No shell environment set or found for current distro.

[2021-11-08 15:27] KayLeung opened #5834 "Provide an option to add & update the existing files instead of replacing the whole folder"
now the SSH connections work like macOS behaviors, when you drag-n-drop a folder into directories with the same folder name, it will replace the whole folder (remove all non-existing files. dir mirrored)

But Windows & most FTP /SFTP clients only upload the new & modified file, it will not delete files from remote server

[2021-11-08 16:22] Tracnac commented on #5813
Hi,

Yes why not closing vscode-server on the remote host when quitting vscode/your session !?
Is there a reason to let it run at the end of your session ?

[2021-11-08 16:26] tanhakabir commented on #5814
Wow thank you for the detailed inspection! You're right that we are overriding RemoteCommand with none to force ssh to ignore it. The issue is if we allow RemoteCommand we won't be able run a script on your remote to install and start VS Code on your server.

For this reason we ignored RemoteCommand in https://github.com/microsoft/vscode-remote-release/issues/481 where we needed to silence. If you

[2021-11-08 16:52] tanhakabir commented on #5832
Hey! Thank you for the issue. This looks like the same issue as https://github.com/microsoft/vscode-remote-release/issues/3720 where there's an issue with buffer js from node that we use in the extension.

I can ping the issue owner to see if they had any progress on the issue.

[2021-11-08 17:12] tanhakabir commented on #5826
Would both of you see if you can connect if you set the setting `remote.SSH.useFlock` to `false`?

[2021-11-08 18:18] tanhakabir commented on #2355
Hm and what exact error do you see? In my testing I noticed `localhost` didn't seem to work when you have a config like this:
[code]

[2021-11-08 19:32] tanhakabir commented on #5814
Going to close this issue since it's a duplicate of https://github.com/microsoft/vscode-remote-release/issues/4474 by the way!

[2021-11-08 19:32] #5814 closed

[2021-11-08 23:34] bamurtaugh commented on #5823
Thanks for opening @max06! I think this may be addressed through https://code.visualstudio.com/remote/advancedcontainers/avoid-extension-reinstalls, which also describes creating a local "named volume" mount?

If you feel like this request is different, or the current doc could have updated info/be more discoverable, would be happy to discuss further!

[2021-11-08 23:41] max06 commented on #5823
Almost. The documentation describes how to keep only the installed extensions,

My approach here is the exact opposite: I want to keep the user profile (`/root`) since we're using the devcontainers for an "operational" purpose. Means, we want to keep the shell history, tool configurations and similar stuff - while keeping the ability to update the devcontainer and the extensions. This scenario is

[2021-11-09 00:15] bamurtaugh commented on #5823
Thanks for clarifying. So the documentation outlines how to persist extensions you've installed in your dev container and VS Code Server on rebuilds, and it won't delete the named volume. Your approach is intending to persist the user profile (shell history, tool config) through `/root` but update/reinstall extensions on rebuild with a fresh volume.

Out of curiosity, what has been your main workf

[2021-11-09 00:46] max06 commented on #5823
Sure!

Me and my team are managing a lot of servers using ansible and the openstack-cli. The second one requires a configuration file with credentials (`/root/.config/openstack/clouds.yaml`).

To make the installation process easier, we've added a devcontainer configuration containing everything required for this, like ansible and its dependencies, the openstack cli and modules, and some other too

[2021-11-09 02:43] yoyoyoohh commented on #5826
still can't connect after setting `remote.SSH.useFlock` to `false`

[2021-11-09 02:51] tanhakabir commented on #5830
Hmm this issue seems to be a duplicate of https://github.com/microsoft/vscode-remote-release/issues/2648 where you can't connect to a non-admin Windows account. Sorry we haven't had a chance to solve this yet but closing this issue since it's being tracked there

[2021-11-09 02:51] #5830 closed

[2021-11-09 02:52] tanhakabir commented on #5830
Some seem to have success with this so you could try it out? https://github.com/microsoft/vscode-remote-release/issues/2648#issuecomment-812183291

[2021-11-09 08:11] chrmarti commented on #5836
Could you attach your devcontainer.json and the log from when you are connected to the devcontainer? (`F1` > `Remote-Container: Show Container Log`)

[2021-11-09 08:12] steveluc opened #5837 "add a command-line option to start in a container"
Would like to be able to at the command prompt of a shell type: code --container containerName
The result would be a new VS Code window opened in the specified container.
This would eliminate opening a window only to select a container.
Thanks!

[2021-11-09 08:24] chrmarti commented on #5838
The permissions issue is fixed with https://github.com/microsoft/vscode-remote-release/issues/5810. That will be in the next version of the extension.

When 'SQLTools' does not load could you check the `Log (Remote Extension Host)` channel in the Output view (`F1` > `Output: Focus on Output View`) and attach that here? From the same session please also attach the container log (`F1` > `Remote-Cont

[2021-11-09 09:53] ponchofiesta opened #5840 "Installing remote server via scp doesn't work anymore"
- VSCode Version: 1.62.0
- Local OS Version: Windows 10 Enterprise 20H2
- Remote OS Version: Kubuntu 20.04 / CentOS 7
- Remote Extension/Connection Type: SSH
- Logs:
[code]

Steps to Reproduce:

1. Open SSH Connection to remote server (tested Ubuntu 20.04 and CentOS 7 - both worked before)
2.

Does this issue occur when you try this locally?: Yes/No
Does this issue occur when you try this locally

[2021-11-09 09:53] ponchofiesta opened #5858 "Log local server download fails or retry local download on failure"
- VSCode Version: 1.62.0
- Local OS Version: Windows 10 Enterprise 20H2
- Remote OS Version: Kubuntu 20.04 / CentOS 7
- Remote Extension/Connection Type: SSH
- Logs:
[code]

Steps to Reproduce:

1. Open SSH Connection to remote server (tested Ubuntu 20.04 and CentOS 7 - both worked before)
2.

Does this issue occur when you try this locally?: Yes/No
Does this issue occur when you try this locally

[2021-11-09 10:04] alexr00 commented on #5309
@kazarmy I was never able to repro this issue, but I was able to repro and fix https://github.com/microsoft/vscode/issues/136715. I think the cause was the same.

[2021-11-09 10:05] alexr00 commented on #5309
/closedBy 056fa407c67758b38b515256775dfcd4f3c504aa

[2021-11-09 10:05] #5309 closed

[2021-11-09 10:12] jhk2kor opened #5841 "visual code is not connecting to remote SSH"
- VSCode Version: 1.62.0
- Local OS Version: window 10
- Remote OS Version: linux
- Remote Extension/Connection Type: SSH/Docker/WSL   SSH
- Logs:

[code]

Steps to Reproduce:

1.
2.

Does this issue occur when you try this locally?: Yes/No
Does this issue occur when you try this locally and all extensions are disabled?: Yes/No

[2021-11-09 12:36] #5800 closed

[2021-11-09 12:36] #5631 closed

[2021-11-09 12:36] #5751 closed

[2021-11-09 13:15] matzuu commented on #5832
Hi, I checked the issue [#3720](https://github.com/microsoft/vscode-remote-release/issues/3720) , as well as [#34709](https://github.com/nodejs/node/issues/34709). I've tried installing nodejs and kvm-qemu, but they didn't solve the issue. I get the exact same error.

Maybe is important to note that in my case the vs-code server is hosted on an Openstack VM.

[2021-11-09 13:31] richtera opened #5853 "Windows 11 constantly changing things"
Issue Type: <b>Bug</b>

I just started using windows 11 and I noticed a few things RE: visual studio code.
All of a sudden my startup files .bashrc and .profile and ~/.nvm/nvm.sh are slightly different. The nvm.sh file suddenly has no execute flag and the bash rc and profile were restored to produciton versions removing all my changes. This started things the wrong way for sure.
Now that I have ev

[2021-11-09 15:03] kazarmy commented on #5309
I will attempt to (perhaps foolishly) change my copy of `workbench.desktop.main.js` in `C:\Program Files\Microsoft VS Code\resources\app\out\vs\workbench` and see whether adding the `await` statement works, probably tomorrow.

[2021-11-09 15:12] alexr00 commented on #5309
@kazarmy no need to make any changes there :) An upcoming [insiders build](https://code.visualstudio.com/insiders/) will have the fix, and insiders will install side by side with the stable build you already have installed.

[2021-11-09 15:32] kazarmy commented on #5309
There doesn't to be a way to confirm the last git commit of an insiders build (yes I have read https://code.visualstudio.com/blogs/2016/05/23/evolution-of-insiders ... daily in what timezone?) but I guess waiting a couple of days won't hurt.

[2021-11-09 15:43] bamurtaugh commented on #5823
Thanks so much for the detailed explanation @max06, this was a great read and makes a lot of sense!

Opened https://github.com/microsoft/vscode-docs/pull/4950 to discuss adding this tip to docs.

[2021-11-09 15:47] max06 commented on #5823
You're welcome, and thank you!

After writing I noticed that we're probably abusing the devcontainers for something they weren't made for - sorry about that 😆
(But I love them!)

[2021-11-09 16:20] MShekow commented on #1108
We also would need this feature. What exactly is meant by "out of scope"?

[2021-11-09 17:19] weinand commented on #5794
My analysis:
If **js-debug** is disabled locally (because **js-debug-nightly** has been installed), opening the workspace remotely (e.g. in a Docker container) will not automatically install js-debug-nightly in the remote. As a consequence, no enabled debug extension will be available which results in the situation described in this issue.

I see two options for addressing this:
- js-debug-nightly

[2021-11-09 18:31] tanhakabir commented on #5841
Hey! Could you give us more details like your Remote-SSH logs and what exact steps you followed?

[2021-11-09 18:32] tanhakabir commented on #5840
Hmm seems like a VS Code issue. I'll be transferring over there.

[2021-11-09 19:03] tbessenreither commented on #5838
Thanks a lot :)
I realy love whats going on with the dev containers.
Keep up the great work <3

[2021-11-09 19:03] #5838 closed

[2021-11-09 19:28] balupton commented on #5773
@roblourens turns out my dotfiles executed a command that would also read from `stdin`, which would mangle the stdin that was passed to ssh. I had to update my dotfiles to prevent reading from stdin upon initialisation.

[2021-11-09 19:46] tanhakabir commented on #5832
Hm sorry I'm not sure of a good solution at the moment. I would follow the issue I have linked for any updates.

[2021-11-09 19:46] tanhakabir commented on #5826
@roblourens I don't know too much about flock, do you know what could be the issue here?

[2021-11-09 21:02] niltonslf opened #5854 "Cannot reconnect. Please reload the window."
Issue Type: <b>Bug</b>

Open a project using wsl

VS Code version: Code 1.62.1 (f4af3cbf5a99787542e2a30fe1fd37cd644cc31f, 2021-11-05T10:57:55.946Z)
OS version: Windows_NT x64 10.0.22494
Restricted Mode: No
Fetching remote diagnostics for 'WSL: Ubuntu-20.04' failed: Canceled

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz (12 x 2592)

[2021-11-09 21:10] benjaminwood commented on #5810
Thanks for the fix!

[2021-11-09 21:54] LiveFreeAndRoam opened #5842 "Upgrade to VSC 1.62.1 broke remote-ssh: Failed to connect to the remote extension host server (SSH timed out)"
- VSCode Version: 1.62.1 (freshly upgraded)
- Local OS Version: Windows 10
- Remote OS Version: Ubuntu-based embedded system, running Linux 5.4.47+g6bff40d413b3
- `uname -a`
`Linux localhost 5.4.47+g6bff40d413b3 #1 SMP PREEMPT Mon Nov 30 09:07:35 UTC 2020 aarch64 aarch64 aarch64 GNU/Linux`
- Remote Extension/Connection Type: SSH
- Logs: Two log files appended below, Remote-SSH output and the DevTo

[2021-11-09 22:06] i-am-david-fernandez commented on #4929
For what it's worth, I seem to be having the same problem (or at least, the same symptom) trying to debug a python app in a container via remote-ssh (i.e., Windows VSCode -> Linux VM via remote-ssh -> python app in docker container).

I get this:

I realise I'm using a completely different debugger (`debugpy`), and a different remote mechanism (`ssh`) but the symptoms suggest a common root cause.

[2021-11-09 22:33] GavinRay97 opened #5845 ""Features": Ability to generate Dockerfile based on selected features"
Relates to: Remote - Containers

The functionality here:
https://github.com/microsoft/vscode-dev-containers/tree/main/script-library/container-features

Related to the ability to choose `Features` when selecting a Devcontainer image:
![image](https://user-images.githubusercontent.com/26604994/141015920-83dd1a89-f214-497c-bb76-f277b5f80fbf.png)

It would be helpful to have an action to generate a p

[2021-11-09 23:17] LiveFreeAndRoam opened #5843 "Unable to write to User Settings because remote.SSH.remotePlatform is not a registered configuration in embedded systems remote."
- VSCode Version: 1.62.1
- Local OS Version: Windows 10
- Remote OS Version: Ubuntu-based
- Remote Extension/Connection Type: SSH
- Logs: See below

Steps to Reproduce:

1. Attempting to install an extension
2. The extension log displays:
    a. `Unable to write to User Settings because remote.SSH.remotePlatform is not a registered configuration.`

What is the signficance of this error message?  W

[2021-11-09 23:41] LiveFreeAndRoam opened #5844 "[error] RequestService#request resolving shell environment failed {}"
- VSCode Version: 1.62.1
- Local OS Version: Windows 10
- Remote OS Version: Ubuntu-based embedded system
- Remote Extension/Connection Type: SSH
- Logs: `[error] RequestService#request resolving shell environment failed {}`

What does that log error message indicate? How to resolve it?

## Fail: Installing an Extension from the marketplace dialog
[code]

## Fail: Manually installing an extension

[2021-11-10 03:42] Chuxel commented on #5808
Yeah that reference is for the "mounts" property that does not apply to Docker Compose (you'll note its in the section on image or Dockerfile devcontainer.json files).

![image](https://user-images.githubusercontent.com/312252/141037188-5199c481-4008-4437-81ae-c3a3fbd1cced.png)

That said, @chrmarti  this sounds like a duplicate of a bug I've raised and mentioned in the past: https://github.com/mi

[2021-11-10 08:15] chrmarti commented on #5844
Tracked as microsoft/vscode#136791

[2021-11-10 08:15] #5844 closed

[2021-11-10 08:22] chrmarti commented on #5846
The mounting of `~/.vscode-server` must be part of your config, it is not done automatically.

There are `"settings"` in the devcontainer.json, but no way to copy arbitrary files.

[2021-11-10 08:32] chrmarti commented on #1108
"out of scope" because we never got to consider doing this. Reopening to reconsider.

[2021-11-10 08:39] chrmarti commented on #5808
Continuing in #5388. Thanks.

[2021-11-10 08:39] #5808 closed

[2021-11-10 09:04] weinand commented on #4929
@i-am-david-fernandez please note that "path/source mappings" like the `"sourceFileMap"` property in the launch config from [above](https://github.com/microsoft/vscode-remote-release/issues/4929#issue-864821347) are **private properties** of the debugger you are using. VS Code knows nothing about them, and even if they have similar names for different debuggers, their implementation is totally unr

[2021-11-10 09:17] filipsobol opened #5847 ""VS Code Server for WSL closed unexpectedly" after updating to 1.62.1"
VSCode Version:
- Local OS Version: Windows 10 19043.1288
- Remote OS Version: Ubuntu 20.04.3 LTS
- Remote Extension/Connection Type: WSL
- Logs:

[code]

This issue doesn't occur when I disable `Remote - WSL` extension

[2021-11-10 09:28] filipsobol commented on #5847
I fixed it by deleting the VS Code Server in WSL2 (`rm -rf ~/.vscode-server/`) and restarting VS Code.

[2021-11-10 09:28] #5847 closed

[2021-11-10 09:53] richard-sim commented on #5836
I think this is a bug in 1.62 as I've just had vscode update to 1.62 and now shell tasks are no longer sourcing the bash .profile for some reason.

[2021-11-10 09:58] MShekow commented on #1108
Thank you for reopening this ticket. Since the issue is quite old, having just consulted the [docs](https://code.visualstudio.com/docs/remote/devcontainerjson-reference#_variables-in-devcontainerjson), I suppose it makes sense to have this default-value mechanism implemented for `localEnv` and `containerEnv`, e.g. to be able to define something like `${localEnv:DOES_NOT_EXIST:-some default value}`

[2021-11-10 10:45] ednl commented on #3248
No. It works because the files in that directory are tailored to the architecture and possibly the OS, in this case 32-bit ARM Raspberry Pi OS. But you can still do this: #issuecomment-651329362

[2021-11-10 11:30] hsinyinfu opened #5848 "Failed to install/upgrade extensions remotely with "read ECONNRESET" error notification"
- VSCode Version: 1.62.1
- Local OS Version: Windows10 20H2 19042.1083
- Remote OS Version: Ubuntu 18.04.2 LTS
- Remote Extension/Connection Type: SSH

Steps to Reproduce:

1. Upgrade VSCode to 1.62.1 version
2. Open a remote connection to the remote host from remote-ssh extension view container
3. In the new-opened remote VSCode window, install a new extension or upgrade an existing extension fro

[2021-11-10 11:58] mtsmfm opened #5849 "Attach Visual Studio Code doesn't work if kubernetes setting is in WSL"
I get No Pod name found error.

![image](https://user-images.githubusercontent.com/1796864/141108879-f7bf8cf4-9706-43de-8526-db3da0223565.png)

![image](https://user-images.githubusercontent.com/1796864/141108909-63d83cff-02c0-4fde-a621-46468f4d657b.png)

[code]

[2021-11-10 12:36] #5804 closed

[2021-11-10 12:36] #5807 closed

[2021-11-10 12:36] #5683 closed

[2021-11-10 12:41] CherryDT opened #5850 "Git hooks can no longer find node"
Issue Type: <b>Bug</b>

When Git is used through VSCode, Git hooks cannot find `node` anymore (`which node` returns nothing). This is a regression, it worked fine until the update that got installed today.

I'm using the `pre-commit` npm package, and `node` is installed via the `asdf` version manager.

To debug this, I added `set -x` to the start of [the `hook` script](https://github.com/observing

[2021-11-10 12:53] highronn opened #5855 "No parameter config equivalent to `--ssh default` in build parameters to support pip ssh requirements installations"
When I build my dev container image I need to install some python requirements through pip that reference a specific repository commit.
To do so when I build my image myself I just need to pass `--ssh default` to my `docker build` command in order to use any ssh key declared via `ssh-add` command.
I've red the doc and didn't find any way to specify at build time this argument.
Do you think its pos

[2021-11-10 13:07] catteneo opened #5851 "Bad configuration option: pubkeyacceptedalgorithms"
- VSCode Version: 1.62.1
- Local OS Version: Windows 10 Build 19043.1320
- Remote OS Version: Ubuntu 18.04.5 LTS - Kernel 4.15.0-151
- Remote Extension/Connection Type: SSH

Steps to Reproduce:

1. Update ~/.ssh/config with added options to host (added becuase of this [issue](https://github.com/git-for-windows/git/issues/3468))
`  HostkeyAlgorithms +ssh-rsa
  PubkeyAcceptedAlgorithms +ssh-rsa`
2.

[2021-11-10 13:46] jnnsbrr opened #5852 "After new VSCode update Remote - SSH does not read my `.profile` anymore (and R extension settings are overwritten)"
- VSCode Version: 1.62.1
- Local OS Version: Windows 10
- Remote OS Version: SUSE Linux Enterprise Server 12 SP3
- Remote Extension/Connection Type: SSH
- Logs: (see below)

Steps to Reproduce:

1. having the **Remote - SSH** extension installed
2. update VSCode to version 1.62.1
(3. having the [R extension](https://github.com/REditorSupport/vscode-R) installed)

and that somehow messed up the way

[2021-11-10 14:00] masiorama commented on #2369
Same here!

[2021-11-10 14:10] elsiehupp commented on #2369
Maybe we could pester the folks at [`vscode-pull-request-github`](https://github.com/Microsoft/vscode-pull-request-github) to take a look at this…?

[2021-11-10 14:49] kallja opened #5871 "Code doesn't return to the console in WSL2"
Issue Type: <b>Bug</b>

When invoking `code` or `code-insiders` from WSL2 (standard Ubuntu), it doesn't return to the shell after starting the GUI. Behavior seems similar to when `code -w`.

However, if a VS Code window is already open while `code` is invoked from the terminal, then the terminal returns to the shell, as expected.

I've recently updated to Windows 11. This problem started this morn

[2021-11-10 14:54] fpickard commented on #3096
+1 for this feature request.  It would be great to have native ssh session persistence as a first class feature, instead of DIY via screen/tmux as others have commented.

[2021-11-10 15:16] #5823 closed

[2021-11-10 15:19] Chuxel commented on #5855
This sounds one of the use cases for https://github.com/microsoft/vscode-remote-release/issues/4352 on the surface since the same scenario is mentioned there.  However, we could keep this open for a specific property and for consideration for the dev container CLI. Thoughts @chrmarti ?

[2021-11-10 16:14] daiyam opened #5856 "SSH: built-in languages disabled"
Hi,

Some built-in languages are disabled with the message `This extension is disabled in this workspace because it is defined to run in the Remote Extension Host. Please install the extension in 'SSH: arch' to enable.`

![Screen Shot 2021-11-10 at 5 05 07 PM](https://user-images.githubusercontent.com/587742/141148924-b94737d0-ef8e-4631-95c9-b2663e72b625.png)

I've tried with previous versions of

[2021-11-10 16:48] GavinRay97 commented on #5845
[code]

@Chuxel Ah that is awesome to hear!

In the interim that's better than nothing, and I suppose I could use something like this:
- https://github.com/mrhavens/Dedockify

To get the base Dockerfile if really needed

It would be ideal to get a "raw" Dockerfile, just due to the image being sort of opaque/difficult to modify
I know that getting there would essentially consist of something like t

[2021-11-10 17:01] highronn commented on #5855
Actually - I found this [issue](https://github.com/microsoft/vscode-remote-release/issues/3545) which try to solve the problem in a more generic way. If you think its better to do it the generic way, I can put an eye on it.

[2021-11-10 17:04] EYangster opened #5857 "`tar` fails during vscode server installation"
During installation of vscode server, tar fails to unpack the gzip:
[code]
When I run `file vscode-server.tar.gz` I get `vscode-server.tar.gz: Zip archive data, at least v1.0 to extract`. Unpacking with `unzip` works.
Local is Windows amd64
Remote is macOS x64
- Logs:
[code]

[2021-11-10 17:50] EYangster commented on #5857
Update: my workaround was to `unzip` the archive and move its contents to `~/.vscode-server/bin/{commit_id}`

[2021-11-10 18:03] tanhakabir commented on #5858
Ah I see! Thanks @alexdima! I'll look into it

[2021-11-10 18:08] tanhakabir commented on #5843
Hey thank you for filing! I noticed with the update it broke your connection https://github.com/microsoft/vscode-remote-release/issues/5844 and you've filed several issues with SSH. We recently pushed a fix Not sure which of these issues will still persist after the fix. Would you be able to try the latest VS Code Insiders to see which issues are still there after the fix?

[2021-11-10 18:09] tanhakabir commented on #5842
Copying and pasting from your other issue:

[2021-11-10 18:11] tanhakabir commented on #5848
Seeing this error `RequestService#request resolving shell environment failed {}` which was related to this bug: https://github.com/microsoft/vscode/issues/136791

We have a fix for this out on VS Code Insiders now and will have the fix out on stable on Thursday. Could you let me know if you still see an issue on VS Code Insiders?

[2021-11-10 18:15] tanhakabir commented on #5851
When you connect through PowerShell do you still see the same issue? We use the default ssh binary in your machine so I'm not sure why we'd be using a different one than what is set to default.

[2021-11-10 18:17] tanhakabir commented on #5852
Hey! This might be related to this bug https://github.com/microsoft/vscode/issues/136791 which we have a fix for out on VS Code Insiders and will be out on VS Code stable on Thursday.

Could you try connecting with VS Code Insiders to see if you still have the issue?

If you do have the issue, could you post the Remote-SSH logs from the Output channel here?

[2021-11-10 18:18] Chuxel commented on #4352
Doing some dupe cleanup. Closing as dupe of #3545

[2021-11-10 18:18] #4352 closed

[2021-11-10 18:18] Chuxel commented on #5855
Makes sense. Let's close this as a dupe of #3545.

[2021-11-10 18:18] #5855 closed

[2021-11-10 18:20] tanhakabir commented on #5856
Hmm that's strange. @roblourens or @sandy081 do you have an idea why language extensions would be disabled?

@daiyam could you also post here the log you see on the Remote-SSH output channel?

[2021-11-10 18:39] nchandra-seg commented on #5085
Facing same issue. What is the solution?
[7599 ms] Start: Run in container: test -d /root/.vscode-server/bin/6cba118ac49a1b88332f312a8f67186f7f3c1643
[7605 ms]
[7605 ms]
[7605 ms] Exit code 1
[7606 ms] Installing VS Code Server for commit 6cba118ac49a1b88332f312a8f67186f7f3c1643
[7607 ms] Start: Downloading VS Code Server
[7607 ms] 6cba118ac49a1b88332f312a8f67186f7f3c1643 linux-x64 stable
[7934 ms

[2021-11-10 18:53] daiyam commented on #5856
Here log from the output of `Remote - SSH`: [client.log](https://github.com/microsoft/vscode-remote-release/files/7515110/client.log)
The log from the log file in `.vscode-server`: [server.log](https://github.com/microsoft/vscode-remote-release/files/7515115/server.log)

Here my config:
[code]

The error in `server.log` seems to be related to my shell environment which is `fish` but it did work be

[2021-11-10 18:56] tanhakabir commented on #5856
Hmm `resolving shell environment failed Error: Unable to resolve your shell environment:` could be fixed by https://github.com/microsoft/vscode/issues/136791

Would you be able to try connecting with VS Code Insiders?

[2021-11-10 19:23] tanhakabir commented on #5841
Does your remote have internet? Also this doesn't look like the full logs.

[2021-11-10 19:28] catteneo commented on #5851
Just tried it, got the same error through the PowerShell
Checked the ssh binary, its OpenSSH_8.1p1 for Windows

[2021-11-10 20:28] daiyam commented on #5856
`v1.63.0-insider`: isn't working
`v1.60.0-insider`: is working

both with `remote-ssh-v0.66.0`

[2021-11-10 20:53] LiveFreeAndRoam commented on #5843
This issue still exists on insiders...

[code]

`[2021-11-11 06:43:39.044] [renderer3] [error] Unable to write to User Settings because remote.SSH.remotePlatform is not a registered configuration.: Error: Unable to write to User Settings because remote.SSH.remotePlatform is not a registered configuration.`

After trying to add an extension, here are the logs that seem relevant.  Let me know if you

[2021-11-10 21:02] joshspicer commented on #5845
To give you a slightly better idea of what's happening internally, here is an example of the templated "shell" of the dockerfile used to build features

[code]

Where `#{featurelayer}` is injected with something like a `RUN install.sh`, and the `#{containerEnv} variables are the values of features' `containerenv` property.  We source an intermediary `env` file in `install.sh` with the appropriate

[2021-11-10 21:03] LiveFreeAndRoam commented on #5852
Installing from a local VSIX file to my remote host was successful using insiders.  I still could not install using the Extension panel, but that is possibly related to https://github.com/microsoft/vscode-remote-release/issues/5843.

Insiders version tested:
[code]

[2021-11-10 21:17] LiveFreeAndRoam commented on #5842
This one is not so easy to verify.  Insiders uses its own configuration and had to reinstall the vscode-server, so the failing state cannot be reproduced with a new installation of insiders.

The failing state:

- Host is an embedded aarch64, based on ubuntu Linux  (other x86 hosts I had open eventually reconnected)
- Currently connected to host via remote-ssh
- Noticed the upgrade VSCODE notifica

[2021-11-10 21:22] LiveFreeAndRoam commented on #5843
I wanted to also point out my `defaultSettings.json` file contains:
[code]

So despite me connecting to this host, the settings file is not being updated, presumably because of this error.

[2021-11-10 21:25] i-am-david-fernandez commented on #4929
@weinand Thank-you for such a rapid response.

I must admit that I did (do) not understand how the different parts (pydebug, remote-ssh, python extension) worked together, and somewhat assumed that the remote extension was, as a kind-of middle-man, responsible for the translation. I'm still not certain whether you mean the "application-end" debugger (`pydebug` in my case) or the "code-end" debugge

[2021-11-10 21:39] LiveFreeAndRoam commented on #5843
I have one more log to share, I noticed this one contains new errors about `Could not find pty with id "9"`.  Perhaps this is interesting to your debug...

[code]

[2021-11-10 21:44] tanhakabir commented on #5843
And just to verify you're on version `v0.66.1` of the extension?

Sorry I'm not really sure what could be the issue with registering the setting. Trying to figure it out now

[2021-11-10 21:48] roblourens commented on #5822
We use the `flock` command to get a lock, and it seems like that hung/didn't return. Is there any reason that would work differently on your system?

Can you work around it by disabling the `"remote.SSH.useFlock"` setting?

[2021-11-10 21:59] tanhakabir commented on #5843
It's strange because we haven't done any work in the remotePlatform setting in recent releases

Hmm @sandy081 do you have an idea what could be the issue?
Seeing this check throwing the error: https://github.com/microsoft/vscode/blob/4ed0329e9c5e12e2c7c59697facc96020b0768ab/src/vs/workbench/services/configuration/common/configurationEditingService.ts#L499

[2021-11-10 22:04] tanhakabir commented on #5851
Hm if PowerShell can't connect then the extension won't be able to connect because it uses PowerShell on your machine to ssh connect. Are you able to update OpenSSH on your machine?

[2021-11-10 22:11] tanhakabir commented on #5852
I noticed in the linked issue you mentioned:

@sandy081 I'm wondering if it has anything to do with the settings sync service?

[2021-11-10 22:36] aeschli commented on #5850
Maybe a dup of https://github.com/microsoft/vscode/issues/136809?

[2021-11-10 22:41] CherryDT commented on #5850
@aeschli Probably not, as this is WSL1.

[2021-11-11 02:30] Sarah-Callies opened #5860 "Failed to attach to visual studio code in docker container"
Does this issue occur when all extensions are disabled?: Yes/No

- VS Code Version:1.62.0
- OS Version:10.0.19041

Steps to Reproduc:

1. connect to remote server where the docker runing
2.right click one container and attach to the visual studio code
3.Errors occurs:Docker version 17.12.0 or later requried, while the latest desktop has already been install and the version is 20.10.10
4. then tell

[2021-11-11 03:02] mtsmfm commented on #5849
After copying .kube/config from WSL, it works.
It seems [Attach Visual Studio Code](https://code.visualstudio.com/docs/remote/attach-container#_attach-to-a-container-in-a-kubernetes-cluster) doesn't consider such a case.

[2021-11-11 03:10] roblourens commented on #5799
It's actually run in a subshell with backticks, like `RESULT=`ps ax | grep ....`, that is probably where the bash process comes from. I'm not sure why that would be stuck though.

I guess that would mean that another bash process still has the lock, maybe it didn't quit correctly after getting stuck.

[2021-11-11 03:14] roblourens commented on #5813
It makes startup faster for subsequent connections. For example, if you open a new folder and the window reloads, that is like a "new connection" and should be fast.

[2021-11-11 03:14] hsinyinfu commented on #5848
I just tried on the latest portable insider version (1.63.0-insider), and it still failed to install extensions on the remote host.
This time it showed "Error while installing xxx extension. Please check the log for more details." in the error notification.
And here is what shown in the Log(Window) view:

[2021-11-11 11:07:51.201] [renderer4] [info] Invoking resolveAuthority(ssh-remote)
[2021-11-1

[2021-11-11 03:17] roblourens commented on #5816
I see the problem - we can connect to hostnames with a space, but do not handle that correctly for the kill command

[2021-11-11 03:18] tanhakabir commented on #5848
@alexdima any idea behind `[Extension Host] (node:13436) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.`?

[2021-11-11 03:23] kstenerud opened #5859 "Remote SSH doesn't work on windows 10"
It pops up a small status dialog saying "Setting up SSH host xyz: (details) Initializing VS Code Server" and then hangs forever. Clicking on "details" does nothing, but double-clicking the status popup expands the window to reveal nothing. There is zero feedback from the UI to tell what's going on.

I've tried following https://code.visualstudio.com/docs/remote/troubleshooting#_troubleshooting-han

[2021-11-11 03:37] mrmachine commented on #5808
@Chuxel How does one create a `/workspaces` folder in order to add it to the shared folders list? Docker Desktop preferences won't let me add the path that doesn't exist, and `sudo mkdir /workspaces` says `mkdir: /workspaces: Read-only file system`.

[2021-11-11 07:17] alexdima commented on #5848
@tanhakabir probably https://github.com/microsoft/vscode/issues/82524 (I just searched our issue tracker for "Buffer.alloc")

[2021-11-11 07:34] ponchofiesta commented on #5858
I tried again today and it's just working. Didn't change anything. Don't know what XHR was trying but it actually didn't came up again.

[2021-11-11 07:37] LITTOMA opened #5870 "vscode ruined my dev environment in wsl"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: 1.62.1 (f4af3cbf5a99787542e2a30fe1fd37cd644cc31f) x64
- OS Version: Windows 10

Steps to Reproduce:

1. Open vscode
2. Connect vscode to WSL using vscode remote extension
3. In vscode terminate, run `echo $PATH`. Got a list of paths to `/mnt/c/...` which I've never set in my wsl distro.
4. Echo other self-defined env v

[2021-11-11 08:22] chrmarti commented on #5836
Remote-Containers should be unaffected by that bug (https://github.com/microsoft/vscode/issues/136791).

[2021-11-11 08:50] hsinyinfu commented on #5848
I'm not sure if the Buffer() error is the root cause.
The error message seems to be printed only once, when the remote connection and newly opened VSCode window was ready.
I tried to install a "local" extension in the remote VSCode window in 1.62.1 installation version, and it worked well, although the error message still shown in the Log(Window) view.

The steps:
1. Open a remote connection VSCod

[2021-11-11 09:10] lukebailey commented on #5085
Adding an SSL bypass to the following domains on our firewall resolved the issue for now but is not an ideal solution:

update.code.visualstudio.com
vo.msecnd.net

[2021-11-11 09:15] sandy081 commented on #5794
This is because js-debug and js-debug-nightly are two different extensions mainly to have insiders support for the extension. We are planning to support insiders extension in VS Code through one extension. I am assuming this might fixes it. But, there is a catch here that js-debug is a built-in extension and we do not support updating built in extensions and we have to think how to support this.

[2021-11-11 09:54] fox4u opened #5861 "Remote - SSH: project path missing after updated to 0.66.0"
In remote explorer, there was the project path just after the name of each project. It became a dot "." after updated to 0.66.0/0.66.1

<img width="358" alt="z0 66 0" src="https://user-images.githubusercontent.com/4506637/141277009-53071fc9-fc3e-41d7-9174-206d5cf419f9.png">

before:
<img width="282" alt="z0 65 8" src="https://user-images.githubusercontent.com/4506637/141277377-8de69a1b-2cbd-4ef6-b

[2021-11-11 10:20] BenceBakos commented on #5767
I think i have a similar issue, one of my college use this extension, and
[code]
gives me multiple node processes running.

Memory is slowly eaten.

Is there any short term solution? I have no idea how this thing works on server/clientside.

My first bet was kill all related processes.

Maybe restarting some service helps?

[2021-11-11 10:34] lkiii commented on #5042
The issue is still there. What kind of additional information I could provide?

[2021-11-11 11:00] MartinEmrich commented on #985
Same issue, even when the key was already unlocked, and the Git server is not behind a VPN tunnel...

after killing all SSH processes and trying again, it works.

It would be nice if vscode would time out on non-progressing git-via-ssh operations after a reasonable time (maybe 30 or 60s?), and also not do all at once (having a multi root workspace with >20 repositories, and vscode using 1 cpu core

[2021-11-11 11:10] ZhongLiMo commented on #5829
The recently connected directory is displayed incompletely due to insufficient disks on the remote server. After disk expansion, the directory is still displayed incompletely.
Like a recent visit
/data/src
This is just showing
src
It should be displayed normally
/data/src

[2021-11-11 11:44] EricHripko commented on #986
In terms of _Remote - SSH_ workflow, something must've changed in `1.62.0` version of VS Code. It now appears to correctly follow `http.proxy*` settings in _Remote Settings_.

[2021-11-11 11:58] catteneo commented on #5851
According to its Github there's a new version available including OpenSSH_8.6
https://github.com/PowerShell/Win32-OpenSSH/releases/

[2021-11-11 13:30] sandy081 commented on #5856
I cant repro it and they shall be running on the local side and not on remote side. Can you please try to repro it by running vscode on a fresh user data directory?

[2021-11-11 13:37] sandy081 commented on #5843
It means, some body is trying to write `remote.SSH.remotePlatform` setting and it is not yet registered. So please check who is doing that.

[2021-11-11 13:38] chuckds commented on #5799
Yes exactly. The "other bash process" is the subject of our issue :)

Unlikely. That would be where the parent bash process comes from (PID 58535 in the above ps forest output).
The stray bash process we're trying to track down (PID #58536  in the above forest) is a peer of the other commands (e.g. "grep -v grep" and "wc -l") in that pipe command which means it is part of that pipe. Coupled with t

[2021-11-11 13:47] sandy081 commented on #5852
I do not think so

[2021-11-11 14:28] Piroro-hs commented on #5852
WSL extension is also affected.

[2021-11-11 14:46] AntonioL opened #5862 "Cannot install extensions inside container"
Version: 1.62.1
Commit: f4af3cbf5a99787542e2a30fe1fd37cd644cc31f
Date: 2021-11-05T09:23:14.144Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 18.7.0
VSCode Remote - Containers

Steps to Reproduce:

1. I have the following snippet on the host `settings.json`:
[code]
2. The above setting seems to work since I can see the extensions listed on VScode

[2021-11-11 14:54] AntonioL commented on #5862
After a brief research I come across this setting:
`remote.downloadExtensionsLocally`.

Setting this to true on the host apparently fixes the above issue, I would still appreciate having a clarification of what is going on before closing this.

[2021-11-11 15:05] woodwm commented on #5822
Hi, after disable `remote.SSH.useFlock`, remote-ssh seems cannot connect to the server. It keeps trying and after trying more than 20 times, it fails.

[2021-11-11 15:17] CornJojk commented on #985
Same issue with vscode and the WSL remote extension. The WSL2 bash terminal is unable to operate git successfully, I am not on a VPN, though one is installed. When the VPN is on, WSL2 simply can't connect to any internet (that's a different issue and I don't need to fix it). My .bashrc does initialize an Anaconda base environment, though I have the same problem whether or not I subsequently deacti

[2021-11-11 15:48] isidorn commented on #5794
After discussing with @sandy081 we have decided that enabling built-in extensions to on-board to the [insiders extension story](https://github.com/microsoft/vscode/issues/15756) will only be possible once we start supporting updating built-in extensions out of band.
Here's an issue tracking this https://github.com/microsoft/vscode/issues/68410

[2021-11-11 16:00] manuprathab opened #5863 "Upgrade to VSC 1.62.1 broke git in remote-ssh"
Git actions(pull, commit etc) are not asking for user name and pwd after upgrading to this version, it was/is working with the earlier versions.

- VSCode Version: 1.62.1
- Local OS Version: Windows 10 Pro
- Remote OS Version: Red Hat Enterprise Linux Server 7.9 (Maipo)
- Remote Extension/Connection Type: SSH
- Logs:

Steps to Reproduce:

1. Before this version everything was fine
2. After upgrade

[2021-11-11 16:06] tanhakabir commented on #5843
@LiveFreeAndRoam would you be able to try connecting with all other extensions disabled? And making sure you only have one version of the Remote-SSH extension?

[2021-11-11 16:08] tanhakabir commented on #5851
Are you able to try to use that? Once PowerShell can ssh to your remote then the extension in VS Code can. Until PowerShell works there's nothing we can do in the extension to make it work.

[2021-11-11 16:12] TTimo commented on #5863
Workaround: you can unset GIT_ASKPASS

[2021-11-11 17:03] tanhakabir commented on #5852
As a sanity check, do you see this issue in VS Code Insiders as well?

[2021-11-11 17:04] tanhakabir commented on #5863
Hmm https://github.com/microsoft/vscode/issues/136791 might be related to your issue. Would you all be able to try to connect on VS Code Insiders?

[2021-11-11 17:06] tanhakabir commented on #5859
Hey thank you for being so diligent! And just to verify you don't see anything in the Output Channel for Remote-SSH?

[2021-11-11 17:11] tanhakabir commented on #5861
Hm I'm not reproducing this. Would you be able to verify with disabling Remote-SSH and grabbing [Remote-SSH Nightly](https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh-nightly)?

[2021-11-11 17:51] edoardomazzon opened #5864 "infinite loading"
Issue Type: <b>Bug</b>

When I open VScode and click to reopen folder with the extension WSL start in a infinite loop loading.

Extension version: 0.58.5
VS Code version: Code 1.62.1 (f4af3cbf5a99787542e2a30fe1fd37cd644cc31f, 2021-11-05T10:57:55.946Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2021-11-11 17:56] mika-fischer commented on #5852
I'm also having the issue that `.profile` is not read anymore. This makes the extension completely unusable for me...

[2021-11-11 18:12] mika-fischer commented on #5852
It seems like not even `.bashrc` is sources. Only `.bash_env`.

Remote SSH Nightly v2021.11.13860 still has the same issue.

I've completely wiped `~/.vscode-*` on the remote host multiple times. Still no dice...

[2021-11-11 18:12] manuprathab commented on #5863
Yes, when I tried insider (1.63.0) there is works, it's asking user name and pwd.

[2021-11-11 18:15] tanhakabir commented on #5863
Okay good! The fix on Insiders will be out later today, you should have an update for stable at the latest tomorrow. Thanks for verifying!

[2021-11-11 18:16] tanhakabir commented on #5852
Have you tried connecting on VS Code insiders? https://github.com/microsoft/vscode/issues/136791 might be related

[2021-11-11 18:25] mika-fischer commented on #5852
Yes most certainly https://github.com/microsoft/vscode/issues/136791 is the cause of this, thanks for the pointer. Others seem to have confirmed that the fix for 1.62.2 works, so I'll just downgrade to 1.62.0 and wait for the fixed release.

[2021-11-11 18:40] Syntactical01 commented on #5675
So this error is still a thing from CMD prompt. Any fixes? I use PowerShell but I user "Make for Windows" which appears to use command prompt under the hood so I was curious if there is a fix I can apply to get it to work.

[2021-11-11 18:41] kstenerud commented on #5859
Actually it's working perfectly now after my machine rebooted. Chalk it up to Windows I guess?

[2021-11-11 18:41] #5859 closed

[2021-11-11 18:47] aaronadamsCA commented on #5767
**Developer: Reload Window** in the command palette is the fastest way we've found to recover the memory. We lose about 30 seconds on window reload + 3-5 minutes restarting tasks. Better than rebuilds and all that!

[2021-11-11 18:53] tanhakabir commented on #5859
Oh great! Let me know if you see this come up again!

[2021-11-11 18:56] madalinignisca commented on #2817
Docker snap has access to HOME, it's actually mentioned as a warning that it has access only to HOME

[2021-11-11 19:13] madalinignisca opened #5865 "Allow using Ubuntu Docker Snap"
I noticed two closed issues on same topic, but all the comments did not provide me facts about why you don't want to support Docker from snaps.

One mention was that it has no access to HOME folder. Actually that is not true. Docker installed from snap is limited to the User's Home folder by default, and with a small config change can be allowed to the full `/`. So, that should be clear, that any

[2021-11-11 19:43] Syntactical01 commented on #5675
Okay so I think I found the bug for windows.

So first off, `devcontainer build` failed with the same error as the user above stated.

First I did a `where devcontainer` because I wanted to see where the command was it was running and I got something like:
[code]
I will reference this full path as `FULL_PATH` from here on out to save typing.

For the fun of it I tried running:
[code]
and that work

[2021-11-11 20:09] tjanga commented on #3454
Just wanted to chime in here and say that I've been experiencing this issue for quite some time. The error dialog does not give me an option to reconnect, only to reload. Upon reload, all terminal windows are reset (so it loses any running processes)

I WAS able to resolve it by creating a task in Windows task scheduler that reset the hardware clock:

Upon wakeup:
`wsl.exe -u root sh -c hwclock -s

[2021-11-11 21:00] asitemade4u opened #5866 "Remote Containers asks to install docker in debian"
Issue Type: <b>Bug</b>

Since last version of VS Code (1.62.1) Remote Containers refuses to open a previously functional container

To fix the ssue, I resort to rebuilding the development container whose configuration files are all present)
1. I enter the container's workspace as **Workspace** first
2. I check the **Remote - Container** extension is well installed (I reinstalled it to be sure)
3.

[2021-11-11 21:05] LiveFreeAndRoam commented on #5843
I ran more tests with only the `Remote-SSH` and `Remote Development` extensions enabled.

In summary, the problem continues to occur.  It is easily repeatable. Let me know if you would like me to try something else.

Here is my session procedure...
[code]

I have previously connected to a remote x86 host, `abc30`.  The entire contents of my User `settings.json` is:

[code]

I will now be attemptin

[2021-11-11 21:45] simse opened #5867 "URI to attach to running container"
I'm looking for a way to open VS Code and attach to a running container. I assume the command would something like this:
`code --folder-uri=vscode-remote://ms-vscode-remote.remote-containers/simons-container/home/simon`

It's not, and I can't find any documentation on this. Does VS Code support this?

I understand the extension supports the following URI: `vscode-insiders://ms-vscode-remote.remote

[2021-11-11 22:07] scalavision commented on #5831
I see, thank you for the explanation @chrmarti :-)  It was clarifying the docs.

What I want to achieve is to have a non-privilege user inside the container, and it should be aligned with the host user to avoid permission issues when using bind (as described in the `devcontainer.json` specification for Linux).

I therefor need to give permissions to the folders and tools running inside the contain

[2021-11-11 22:09] blackliner commented on #1671
So, long story short, VScode remote-ssh will not source `~/.profile` by default?

[2021-11-12 00:37] nchandra-seg commented on #5085
Hmm, curious how this solved the problem. I tried curl from that linux machine.
[code]

[2021-11-12 01:37] chrisandrewca commented on #5801
Thank you all as well for your expertise.

[2021-11-12 01:44] tanhakabir commented on #5842
Hey! Sorry for taking so long to get back to you on this. I'm still struggling to reproduce this on my end. My hunch is that it could be an issue of the other you filed about `remote.SSH.remotePlatform` not registered.

I'm struggling to confirm this since I can't seem to get a repro on my side.

What I did:
1. Connect to a Linux machine on my Windows 10 machine from VS Code 1.61.1
2. Click update

[2021-11-12 01:47] tanhakabir commented on #5843
Similar to the other issue, I'm struggling to get in the same state as you.

https://github.com/microsoft/vscode-remote-release/issues/5842#issuecomment-966751113

If you manually add the appropriate platforms does your connection go through okay?

Alternatively do you have Settings Sync turned on? And if so are you able to start with a fresh install of VS Code?

[2021-11-12 01:53] tanhakabir commented on #5848
And I'm guessing this isn't specific to "Debugger for Firefox" vs "Python"? As in they both fail?

I can't seem to reproduce this on my machine.

Would you be able to try these debugging steps? https://stackoverflow.com/questions/63673860/vscode-extension-deprecation-warning-buffer-how-to-diagnose/68413237#68413237

[2021-11-12 02:02] hsinyinfu commented on #5848
Hi, I just tried in the new 1.62.2 version,
and I found that although the Buffer() and read ECONNRESET were still printed in the Log(Window) view,
but no error notification was shown in the bottom right,
and the remote extensions can be downloaded and upgraded.

Here is the logs after the remote connection was ready:
[2021-11-12 10:00:03.652] [renderer4] [info] Starting extension host with pid 163

[2021-11-12 02:11] tanhakabir commented on #5848
Okay cool! I think with https://github.com/microsoft/vscode/issues/82524 it seems the warnings have been an issue for awhile and can be tracked in that issue. But if it's not blocking that's good!

I close this issue now since it seems like https://github.com/microsoft/vscode/issues/82524 can track the rest.

[2021-11-12 02:11] #5848 closed

[2021-11-12 02:11] tanhakabir commented on #5848
Thanks so much for doing all that debugging with us!

[2021-11-12 02:12] tanhakabir commented on #5863
Going to close this issue now. If anyone is still seeing this issue in stable 1.62.2 which was released earlier today let me know!

[2021-11-12 02:12] #5863 closed

[2021-11-12 02:13] tanhakabir commented on #5852
Going to close this issue now since the fix was released earlier today on stable 1.62.2! Let me know if any of you still see this issue

[2021-11-12 02:13] #5852 closed

[2021-11-12 03:04] fox4u commented on #5861
with nightly now but the problem persists, any suggestions?

<img width="327" alt="z-nightly" src="https://user-images.githubusercontent.com/4506637/141401940-474335d8-66e5-41b3-afa3-e3ea0727bf30.png">

<img width="321" alt="z-nightly-path" src="https://user-images.githubusercontent.com/4506637/141401990-8801b37a-ce7d-47c2-9646-47e40228252d.png">

[2021-11-12 05:00] LiveFreeAndRoam commented on #5843
I manually edited it, so the entire contents of `settings.json` is:

[code]

When I connect to host `8', it no longer asks me which platform, so at least we know it's reading this file correctly.  It's just not writing to it.

This is only happening on my embedded systems.  While the embedded system's filesystem is largely read-only, the `settings.json` file is stored locally on my PC.  I cannot u

[2021-11-12 05:28] LiveFreeAndRoam opened #5868 "Remote-SSH through a localhost tunnel - server did not start successfully, could not find node"
- VSCode Version: 1.62.1
- Local OS Version: Windows 10
- Remote OS Version: Ubuntu based embedded system on armv7l
- Remote Extension/Connection Type: SSH
- Logs: (see below)

Steps to Reproduce:

I suspect `node` is not supported on my architecture, but I need to ask in case I'm missing something...

I have to access my embedded system via a gateweay:

[code]

To access the Linux target from my

[2021-11-12 07:30] nelsonjchen commented on #4296
I tried making a hack of an extension to see if making an alternate remote source provider that takes a repository `clone_url` (as a hack when querying for a list of repositories against the "provider"), some `git ls-remote` action to list branches, and [getting the Git extension to be returning an additional branch property](https://github.com/microsoft/vscode/blob/0321ca5d96714f50116453b3272dcec

[2021-11-12 07:35] geekhch opened #5869 "Remote-SSH waitiing at "setting up ssh tunnel", cannot login remote server"
Issue Type: <b>Bug</b>
system: macOS Bug Sur 11.4
### Bug desc
When I tring to connet to any remote host, the Remote-SSH shows "Setting up SSH Host 62: Setting up SSH tunnel" all the time, leading failing to open any remote foler. However, I can login it with ssh in my terminal.
![image](https://user-images.githubusercontent.com/32632844/141428250-d95dec64-0220-42da-8fd4-0630564aef15.png)

I'm not

[2021-11-12 09:05] #5864 closed

[2021-11-12 10:26] enjaxx opened #5872 "Remote SSH: Indistinguishable folder name"
I have multiple folders which are named the same, but have different path.  If I open such folders in remote SSH, they are only showed with their names with a dot behind the name where the path should stand, so I can't dsitinguish them without moving the mouse over them. I don't know, if it's a setting I miss or a bug, this behavoir ist shown both in the newest vs code and vs code-insiders.

![ima

[2021-11-12 10:38] dengwu08 opened #5873 "Failed to connect server if use wired network"
it is ok to use remote-ssh if I use wifi.
but if I disabled wifi and use wired network,
remote-ssh hang up when connect to server.

it is ok if I run "ssh" from windows "cmd.exe" under both network condition.

[2021-11-12 12:31] #5820 closed

[2021-11-12 12:31] #4774 closed

[2021-11-12 14:20] alu0100990539 commented on #5820
Sorry, I update now the issue to full english

[2021-11-12 14:22] alu0100990539 commented on #5820
@tanhakabir sorry, I update the issue to english.

How I can check if the server allows TCP forwarding? With "ss" comand?

[2021-11-12 14:48] kleinandreas2002 commented on #5861
For me the same - missing paths

![image](https://user-images.githubusercontent.com/34026772/141485727-26b73ccc-d8d6-4f8c-bd3f-83690721e08f.png)

Also with nightly build
![image](https://user-images.githubusercontent.com/34026772/141485429-edac82f6-064c-467c-95af-79c8e69cb1b6.png)

[2021-11-12 16:00] stefanfritsch commented on #5818
@tanhakabir Is there a reason this was closed? I thought I'd provided the info you requested.

[2021-11-12 16:24] nelsonjchen commented on #4296
I made the extension so that my team at my day job might be able to use it to clone with the option to choose a branch from an internal Atlassian Bitbucket repository. I was just testing with GitLab since they happened to be at hand but I realized that they are big enough to also make a [`RemoteSourceRepository` implementation themselves](https://gitlab.com/gitlab-org/gitlab-vscode-extension/-/blo

[2021-11-12 16:42] tapr00t opened #5874 "Cannot update remote extensions"
When I try to update the remote extensions, many times it fails.  My remote.SSH.localServerDownload is set to auto, but I've had similar failures with it set to true.  It appears to fallback to the local extension download, then gives an error that the downloaded file is not found locally.  However, if I check the file it complains does not exist, I DO see it on my disk.

- VSCode Version: 1.62.2

[2021-11-12 16:50] nelsonjchen commented on #4296
FWIW, [Atlassian's extension](https://marketplace.visualstudio.com/items?itemName=Atlassian.atlascode) doesn't implement `RemoteSourceProvider` from what I can see.

[2021-11-12 17:40] tanhakabir commented on #5843
And just to be sure this was only introduced in the recent release? You were connecting to the same embedded system before and never saw this issue?

Our previous releases are here if that helps at all: https://code.visualstudio.com/updates/v1_61

[2021-11-12 17:40] tanhakabir commented on #5843
And also to verify this isn't happening in any of your other remote machines?

[2021-11-12 17:42] J-HowHuang commented on #985
Found out that VS Code had updates and told me to restart. Afterward it ask me to login to Github again, then the problem was solved.

[2021-11-12 17:46] tanhakabir commented on #5820
I'm not sure what kind of access IONOS gives you but either you have permission to edit the sshd_config file and set AllowTcpForwarding to true, more here: https://man.openbsd.org/sshd_config#AllowTcpForwarding

Or if you don't have permissions to edit that file then maybe IONOS has some sort of UI on it's platform to enable this? Sorry I'm not very familiar with IONOS. You could also ask you IT a

[2021-11-12 17:48] tanhakabir commented on #5861
Last check could you verify this problem exists in vscode version 1.62.2? (the latest one)

[2021-11-12 17:49] tanhakabir commented on #5818
Oh sorry the bot closed

[2021-11-12 18:10] viveksjain opened #5875 "Automatically reload window after SSH disconnection"
After sleeping my computer overnight, the vscode remote SSH connection gets disconnected (which is expected). However, after wakeup vscode pops a message asking to reload the entire window. Is there a reason vscode doesn't already 1) create a new SSH connection without reloading the window, or 2) even if that's necessary, automatically reload once it detects that the remote is reachable (waiting m

[2021-11-12 18:43] tanhakabir commented on #5869
Hmm and to verify you're on the latest version of VS Code (1.62.2) and your remote machines allow TCP fowarding?

[2021-11-12 18:44] tanhakabir commented on #5872
Duplicate of https://github.com/microsoft/vscode-remote-release/issues/5861

I wasn't able to reproduce this issue on my end. Are you on the latest version of vscode? (1.62.2)?

[2021-11-12 18:44] #5872 closed

[2021-11-12 18:45] tanhakabir commented on #5873
Hey! Thanks for testing this. Would you be able to share your logs from the Remote-SSH output channel?

[2021-11-12 18:49] tanhakabir commented on #5861
I can't reproduce this issue. My versions:

VS Code: 1.62.2
Remote-SSH (stable): 0.66.1

[2021-11-12 19:17] siliangZ commented on #2321
Does any make any progress on this problem?

[2021-11-12 19:23] tanhakabir commented on #5875
When we connect to your remote, we're using the ssh program from your local machine and so when the computer goes to sleep for awhile that process on your machine also disconnects. We need to reload the window to start that process again with requires authenticating in again. So unfortunately this reload is unavoidable.

But if you set up your SSH with your passphrase in the ssh agent then on relo

[2021-11-12 19:23] #5875 closed

[2021-11-12 19:30] kleinandreas2002 commented on #5861
Some new test results from another PC

SSH targets:
![image](https://user-images.githubusercontent.com/34026772/141523565-eac4f491-841d-4068-8d2d-4653fea1bbc4.png)

Current version info:
Version: 1.62.2 (user setup)
Commit: 3a6960b964327f0e3882ce18fcebd07ed191b316
Date: 2021-11-11T20:56:38.428Z
Electron: 13.5.2
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.

[2021-11-12 19:32] viveksjain commented on #5875
Thanks for the response. I don't need to currently type anything to authenticate so that is not an issue, the feature request was specifically that no manual actions (i.e. not even clicking "Reload") are required at all.

[2021-11-12 19:43] tanhakabir commented on #5875
Ah I see, hmm I don't believe we've automatically reloaded the window before for any other action in VS Code so it might go against common design of the rest of VS Code.

@roblourens thoughts?

[2021-11-12 19:47] tanhakabir commented on #5861
@kleinandreas2002 and this is also using Remote-SSH version 0.66.1 stable?

Sorry I'm struggling to reproduce this on my end with both my Windows 10 and MacOS machines.

[2021-11-12 19:50] tanhakabir commented on #5874
Hm and which version of Remote-SSH are you using?

I'm struggling to reproduce this on my Windows 10 machine with VS Code version 1.62.2 and Remote-SSH 0.66.1

[2021-11-12 20:03] tapr00t commented on #5874
Remote-SSH version:  v0.66.1
But I've had this problem for months

[2021-11-12 20:07] kleinandreas2002 commented on #5861
Yes, the last input was from Remote-SSH version 0.66.1

Summarize more tests with versions:
0.66.1 -> show no paths
0.66.0 -> show no paths
0.65.8 -> show paths

[2021-11-12 20:29] tanhakabir commented on #5861
Hm looking through the code since I can't reproduce my guess is that there might be some issue with reading the user data for the extension.

Would you be able to run this VSIX of the extension that has some console.logs for the data that's saved about folders. https://1drv.ms/u/s!Art4fdsu4NidiWWH70BDZBJ1ymC-

And once you're running the vsix could you first open the SSH Target explorer and then r